{{#seccionWrapper}}
  <h3>ÁREA QUIRÚRGICA</h3>
  <table>
    {{#if (hasValue cant_quir)}}
    <tr>
      <td style="width: 70%;">Cantidad de quirófanos</td>
      <td style="width: 30%; text-align: center;">{{cant_quir}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue c_n_par)}}
    <tr>
      <td>Cumple Normas Paredes</td>
      <td style="text-align: center;">
        <strong class="{{valorClass c_n_par}}">{{valorSiNo c_n_par}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue c_n_pis)}}
    <tr>
      <td>Cumple Normas Pisos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass c_n_pis}}">{{valorSiNo c_n_pis}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue c_n_tec)}}
    <tr>
      <td>Cumple Normas Techos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass c_n_tec}}">{{valorSiNo c_n_tec}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cir_exc)}}
    <tr>
      <td>Circulación exclusiva</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cir_exc}}">{{valorSiNo cir_exc}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue in_tr_pac)}}
    <tr>
      <td>Ingreso y transferencia de pacientes</td>
      <td style="text-align: center;">
        <strong class="{{valorClass in_tr_pac}}">{{valorSiNo in_tr_pac}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ves_prop)}}
    <tr>
      <td>Vestuario propio</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ves_prop}}">{{valorSiNo ves_prop}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue po_ve_pa_fi)}}
    <tr>
      <td>Posee ventana con paño fijo</td>
      <td style="text-align: center;">
        <strong class="{{valorClass po_ve_pa_fi}}">{{valorSiNo po_ve_pa_fi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue s_suc)}}
    <tr>
      <td>Sector sucio</td>
      <td style="text-align: center;">
        <strong class="{{valorClass s_suc}}">{{valorSiNo s_suc}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue c_dir_quir)}}
    <tr>
      <td>Comunicación directa a quirófano</td>
      <td style="text-align: center;">
        <strong class="{{valorClass c_dir_quir}}">{{valorSiNo c_dir_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue dep_mat_es)}}
    <tr>
      <td>Depósito material estéril</td>
      <td style="text-align: center;">
        <strong class="{{valorClass dep_mat_es}}">{{valorSiNo dep_mat_es}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue il_adec)}}
    <tr>
      <td>Iluminación adecuada</td>
      <td style="text-align: center;">
        <strong class="{{valorClass il_adec}}">{{valorSiNo il_adec}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cli_fio_calor)}}
    <tr>
      <td>Climatización frío-calor</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cli_fio_calor}}">{{valorSiNo cli_fio_calor}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ac_comp_pre)}}
    <tr>
      <td>Acorde a la complejidad prestacional</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ac_comp_pre}}">{{valorSiNo ac_comp_pre}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue card)}}
    <tr>
      <td>Cardiodesfibrilador</td>
      <td style="text-align: center;">
        <strong class="{{valorClass card}}">{{valorSiNo card}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue bot_anes)}}
    <tr>
      <td>Botiquín básico anestesia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass bot_anes}}">{{valorSiNo bot_anes}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue bot_rea)}}
    <tr>
      <td>Botiquín básico reanimación CV</td>
      <td style="text-align: center;">
        <strong class="{{valorClass bot_rea}}">{{valorSiNo bot_rea}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue larin)}}
    <tr>
      <td>Laringoscopía</td>
      <td style="text-align: center;">
        <strong class="{{valorClass larin}}">{{valorSiNo larin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue tub_endo)}}
    <tr>
      <td>Tubos endotraqueales</td>
      <td style="text-align: center;">
        <strong class="{{valorClass tub_endo}}">{{valorSiNo tub_endo}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ca_traq)}}
    <tr>
      <td>Caja de traqueotomía</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ca_traq}}">{{valorSiNo ca_traq}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue mon_multi)}}
    <tr>
      <td>Monitor multiparamétrico</td>
      <td style="text-align: center;">
        <strong class="{{valorClass mon_multi}}">{{valorSiNo mon_multi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue res_auto)}}
    <tr>
      <td>Respirador automático</td>
      <td style="text-align: center;">
        <strong class="{{valorClass res_auto}}">{{valorSiNo res_auto}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue me_mayo)}}
    <tr>
      <td>Mesa de cirugía Tipo Mayo o similar</td>
      <td style="text-align: center;">
        <strong class="{{valorClass me_mayo}}">{{valorSiNo me_mayo}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue elec)}}
    <tr>
      <td>Electrobisturí</td>
      <td style="text-align: center;">
        <strong class="{{valorClass elec}}">{{valorSiNo elec}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ins_esp)}}
    <tr>
      <td>Instrumental s/especialidades</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ins_esp}}">{{valorSiNo ins_esp}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
{{/seccionWrapper}}
