<div class="seccion">
  <h3>ÁREA QUIRÚRGICA</h3>
  <table>
    <tr>
      <td style="width: 70%;">Cantidad de quirófanos</td>
      <td style="width: 30%; text-align: center;">{{cant_quir}}</td>
    </tr>
    <tr>
      <td>Cumple Normas Paredes</td>
      <td style="text-align: center;">{{c_n_par}}</td>
    </tr>
    <tr>
      <td>Cumple Normas Pisos</td>
      <td style="text-align: center;">{{c_n_pis}}</td>
    </tr>
    <tr>
      <td>Cumple Normas Techos</td>
      <td style="text-align: center;">{{c_n_tec}}</td>
    </tr>
    <tr>
      <td>Circulación exclusiva</td>
      <td style="text-align: center;">{{cir_exc}}</td>
    </tr>
    <tr>
      <td>Ingreso y transferencia de pacientes</td>
      <td style="text-align: center;">{{in_tr_pac}}</td>
    </tr>
    <tr>
      <td>Vestuario propio</td>
      <td style="text-align: center;">{{ves_prop}}</td>
    </tr>
    <tr>
      <td>Sector sucio</td>
      <td style="text-align: center;">{{s_suc}}</td>
    </tr>
    <tr>
      <td>Comunicación directa a quirófano</td>
      <td style="text-align: center;">{{c_dir_quir}}</td>
    </tr>
    <tr>
      <td>Depósito material estéril</td>
      <td style="text-align: center;">{{dep_mat_es}}</td>
    </tr>
    <tr>
      <td>Iluminación adecuada</td>
      <td style="text-align: center;">{{il_adec}}</td>
    </tr>
    <tr>
      <td>Climatización frío-calor</td>
      <td style="text-align: center;">{{cli_frio_cal}}</td>
    </tr>
    <tr>
      <td>Acorde a la complejidad prestacional</td>
      <td style="text-align: center;">{{ac_comp_pre}}</td>
    </tr>
    <tr>
      <td>Cardiodesfibrilador</td>
      <td style="text-align: center;">{{card}}</td>
    </tr>
    <tr>
      <td>Botiquín básico anestesia</td>
      <td style="text-align: center;">{{bot_anes}}</td>
    </tr>
    <tr>
      <td>Botiquín básico reanimación CV</td>
      <td style="text-align: center;">{{bot_rea}}</td>
    </tr>
    <tr>
      <td>Laringoscopía</td>
      <td style="text-align: center;">{{larin}}</td>
    </tr>
    <tr>
      <td>Tubos endotraqueales</td>
      <td style="text-align: center;">{{tub_endo}}</td>
    </tr>
    <tr>
      <td>Caja de traqueotomía</td>
      <td style="text-align: center;">{{ca_traq}}</td>
    </tr>
    <tr>
      <td>Monitor multiparamétrico</td>
      <td style="text-align: center;">{{mon_multi}}</td>
    </tr>
    <tr>
      <td>Respirador automático</td>
      <td style="text-align: center;">{{res_auto}}</td>
    </tr>
    <tr>
      <td>Mesa de cirugía Tipo Mayo o similar</td>
      <td style="text-align: center;">{{me_mayo}}</td>
    </tr>
    <tr>
      <td>Electrobisturí</td>
      <td style="text-align: center;">{{elec}}</td>
    </tr>
    <tr>
      <td>Instrumental s/especialidades</td>
      <td style="text-align: center;">{{ins_esp}}</td>
    </tr>
  </table>
</div>