<div class="seccion">
  <h3>ESTERILIZACIÓN - CENTROS AMBULATORIOS</h3>
  <table>
    <tr>
      <td style="width: 70%;">Estufa y Autoclave</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if est_autoc}}valor-si{{else}}valor-no{{/if}}">{{#if est_autoc}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Contrato con empresa autorizada</td>
      <td style="text-align: center;">
        <strong class="{{#if con_emp_auto}}valor-si{{else}}valor-no{{/if}}">{{#if con_emp_auto}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Material descartable</td>
      <td style="text-align: center;">
        <strong class="{{#if mat_desc}}valor-si{{else}}valor-no{{/if}}">{{#if mat_desc}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Microscopio adecuado a las prestaciones</td>
      <td style="text-align: center;">
        <strong class="{{#if micro_presta}}valor-si{{else}}valor-no{{/if}}">{{#if micro_presta}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Centrífuga</td>
      <td style="text-align: center;">
        <strong class="{{#if centrif}}valor-si{{else}}valor-no{{/if}}">{{#if centrif}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Baño termostatizado</td>
      <td style="text-align: center;">
        <strong class="{{#if ban_termo}}valor-si{{else}}valor-no{{/if}}">{{#if ban_termo}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Fotocolorímetro</td>
      <td style="text-align: center;">
        <strong class="{{#if fotocol}}valor-si{{else}}valor-no{{/if}}">{{#if fotocol}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Estufa de cultivo</td>
      <td style="text-align: center;">
        <strong class="{{#if es_cul}}valor-si{{else}}valor-no{{/if}}">{{#if es_cul}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Estufa de esterilización</td>
      <td style="text-align: center;">
        <strong class="{{#if es_este}}valor-si{{else}}valor-no{{/if}}">{{#if es_este}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Heladera</td>
      <td style="text-align: center;">
        <strong class="{{#if helad}}valor-si{{else}}valor-no{{/if}}">{{#if helad}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>