{{#seccion}}
  <h3>INSCRIPCIÓN - CENTROS AMBULATORIOS</h3>
  <table>
    {{#if (hasValue form)}}
    <tr>
      <td style="width: 70%;">Formulario</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass form}}">{{valorSiNo form}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ad_privad)}}
    <tr>
      <td>Aditamiento Privado</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ad_privad}}">{{valorSiNo ad_privad}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cer_auto_lab)}}
    <tr>
      <td>Certificado autorización Laboratorio</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cer_auto_lab}}">{{valorSiNo cer_auto_lab}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue conv_est)}}
    <tr>
      <td>Convenio con establecimientos polivalentes</td>
      <td style="text-align: center;">
        <strong class="{{valorClass conv_est}}">{{valorSiNo conv_est}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue org_func)}}
    <tr>
      <td>Organigrama funcional</td>
      <td style="text-align: center;">
        <strong class="{{valorClass org_func}}">{{valorSiNo org_func}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue planos)}}
    <tr>
      <td>Planos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass planos}}">{{valorSiNo planos}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue no_pra_amb)}}
    <tr>
      <td>Nómina de prácticas ambulatorias</td>
      <td style="text-align: center;">
        <strong class="{{valorClass no_pra_amb}}">{{valorSiNo no_pra_amb}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue tip_socie)}}
    <tr>
      <td>Tipo de Sociedad</td>
      <td style="text-align: center;">{{tip_socie}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue dir_lis_prof)}}
    <tr>
      <td>Director y Listado de Profesionales</td>
      <td style="text-align: center;">
        <strong class="{{valorClass dir_lis_prof}}">{{valorSiNo dir_lis_prof}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cer_rayx)}}
    <tr>
      <td>Certificado habilitación equipo de Rayos X</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cer_rayx}}">{{valorSiNo cer_rayx}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue con_serv_eme)}}
    <tr>
      <td>Convenio Servicio de Emergencias</td>
      <td style="text-align: center;">
        <strong class="{{valorClass con_serv_eme}}">{{valorSiNo con_serv_eme}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue aparato)}}
    <tr>
      <td>Aparatología</td>
      <td style="text-align: center;">
        <strong class="{{valorClass aparato}}">{{valorSiNo aparato}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cer_hab_hem)}}
    <tr>
      <td>Certificado Habilitación Hemoterapia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cer_hab_hem}}">{{valorSiNo cer_hab_hem}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
{{/seccion}}
