{{#seccionWrapper}}
  <h3>ESTERILIZACIÓN - CENTROS AMBULATORIOS</h3>
  <table>
    <tr>
      <td style="width: 70%;">Estufa y Autoclave</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass est_autoc}}">{{valorSiNo est_autoc}}</strong>
      </td>
    </tr>
    <tr>
      <td>Contrato con empresa autorizada</td>
      <td style="text-align: center;">
        <strong class="{{valorClass con_emp_auto}}">{{valorSiNo con_emp_auto}}</strong>
      </td>
    </tr>
    <tr>
      <td>Material descartable</td>
      <td style="text-align: center;">
        <strong class="{{valorClass mat_desc}}">{{valorSiNo mat_desc}}</strong>
      </td>
    </tr>
    <tr>
      <td>Microscopio adecuado a las prestaciones</td>
      <td style="text-align: center;">
        <strong class="{{valorClass micro_presta}}">{{valorSiNo micro_presta}}</strong>
      </td>
    </tr>
    <tr>
      <td>Centrífuga</td>
      <td style="text-align: center;">
        <strong class="{{valorClass centrif}}">{{valorSiNo centrif}}</strong>
      </td>
    </tr>
    <tr>
      <td>Baño termostatizado</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ban_termo}}">{{valorSiNo ban_termo}}</strong>
      </td>
    </tr>
    <tr>
      <td>Fotocolorímetro</td>
      <td style="text-align: center;">
        <strong class="{{valorClass fotocol}}">{{valorSiNo fotocol}}</strong>
      </td>
    </tr>
    <tr>
      <td>Estufa de cultivo</td>
      <td style="text-align: center;">
        <strong class="{{valorClass es_cul}}">{{valorSiNo es_cul}}</strong>
      </td>
    </tr>
    <tr>
      <td>Estufa de esterilización</td>
      <td style="text-align: center;">
        <strong class="{{valorClass es_este}}">{{valorSiNo es_este}}</strong>
      </td>
    </tr>
    <tr>
      <td>Heladera</td>
      <td style="text-align: center;">
        <strong class="{{valorClass helad}}">{{valorSiNo helad}}</strong>
      </td>
    </tr>
  </table>
{{/seccionWrapper}}