<div class="seccion">
  <h3>DIRECCIÓN Y FUNCIONAMIENTO - CENTROS AMBULATORIOS</h3>
  <table>
    <tr>
      <td style="width: 70%;">N° de Plantas</td>
      <td style="width: 30%; text-align: center;">{{nro_plantas}}</td>
    </tr>
    <tr>
      <td>N° de Consultorios</td>
      <td style="text-align: center;">{{nro_consultorios}}</td>
    </tr>
    <tr>
      <td>Ascensor / Montacamillas</td>
      <td style="text-align: center;">
        <strong class="{{#if asc_monta}}valor-si{{else}}valor-no{{/if}}">{{#if asc_monta}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Iluminación</td>
      <td style="text-align: center;">
        <strong class="{{#if ilum}}valor-si{{else}}valor-no{{/if}}">{{#if ilum}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Salida de Emergencia</td>
      <td style="text-align: center;">
        <strong class="{{#if sali_eme}}valor-si{{else}}valor-no{{/if}}">{{#if sali_eme}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Ventilación</td>
      <td style="text-align: center;">
        <strong class="{{#if ventil}}valor-si{{else}}valor-no{{/if}}">{{#if ventil}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Registro de Historias Clínicas Completo</td>
      <td style="text-align: center;">
        <strong class="{{#if reg_hiscli}}valor-si{{else}}valor-no{{/if}}">{{#if reg_hiscli}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Privacidad</td>
      <td style="text-align: center;">
        <strong class="{{#if priva}}valor-si{{else}}valor-no{{/if}}">{{#if priva}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Plano inclinado</td>
      <td style="text-align: center;">
        <strong class="{{#if pla_incli}}valor-si{{else}}valor-no{{/if}}">{{#if pla_incli}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Lavabos</td>
      <td style="text-align: center;">
        <strong class="{{#if lavab}}valor-si{{else}}valor-no{{/if}}">{{#if lavab}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Plan de evacuación</td>
      <td style="text-align: center;">
        <strong class="{{#if plan_evac}}valor-si{{else}}valor-no{{/if}}">{{#if plan_evac}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Consultorio c/baño</td>
      <td style="text-align: center;">
        <strong class="{{#if con_c_ban}}valor-si{{else}}valor-no{{/if}}">{{#if con_c_ban}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Área de Espera</td>
      <td style="text-align: center;">
        <strong class="{{#if ar_esper}}valor-si{{else}}valor-no{{/if}}">{{#if ar_esper}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Baño discapacitados</td>
      <td style="text-align: center;">
        <strong class="{{#if ban_disca}}valor-si{{else}}valor-no{{/if}}">{{#if ban_disca}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>