<div class="seccion">
  <h3>DIRECCIÓN Y FUNCIONAMIENTO - CENTROS AMBULATORIOS</h3>
  <table>
    <tr>
      <td style="width: 70%;">N° de Plantas</td>
      <td style="width: 30%; text-align: center;">{{nro_plantas}}</td>
    </tr>
    <tr>
      <td>N° de Consultorios</td>
      <td style="text-align: center;">{{nro_consultorios}}</td>
    </tr>
    <tr>
      <td>Ascensor / Montacamillas</td>
      <td style="text-align: center;">
        <strong class="{{valorClass asc_monta}}">{{valorSiNo asc_monta}}</strong>
      </td>
    </tr>
    <tr>
      <td>Iluminación</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ilum}}">{{valorSiNo ilum}}</strong>
      </td>
    </tr>
    <tr>
      <td>Salida de Emergencia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass sali_eme}}">{{valorSiNo sali_eme}}</strong>
      </td>
    </tr>
    <tr>
      <td>Ventilación</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ventil}}">{{valorSiNo ventil}}</strong>
      </td>
    </tr>
    <tr>
      <td>Registro de Historias Clínicas Completo</td>
      <td style="text-align: center;">
        <strong class="{{valorClass reg_hiscli}}">{{valorSiNo reg_hiscli}}</strong>
      </td>
    </tr>
    <tr>
      <td>Privacidad</td>
      <td style="text-align: center;">
        <strong class="{{valorClass priva}}">{{valorSiNo priva}}</strong>
      </td>
    </tr>
    <tr>
      <td>Plano inclinado</td>
      <td style="text-align: center;">
        <strong class="{{valorClass pla_incli}}">{{valorSiNo pla_incli}}</strong>
      </td>
    </tr>
    <tr>
      <td>Lavabos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass lavab}}">{{valorSiNo lavab}}</strong>
      </td>
    </tr>
    <tr>
      <td>Plan de evacuación</td>
      <td style="text-align: center;">
        <strong class="{{valorClass plan_evac}}">{{valorSiNo plan_evac}}</strong>
      </td>
    </tr>
    <tr>
      <td>Consultorio c/baño</td>
      <td style="text-align: center;">
        <strong class="{{valorClass con_c_ban}}">{{valorSiNo con_c_ban}}</strong>
      </td>
    </tr>
    <tr>
      <td>Área de Espera</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ar_esper}}">{{valorSiNo ar_esper}}</strong>
      </td>
    </tr>
    <tr>
      <td>Baño discapacitados</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ban_disca}}">{{valorSiNo ban_disca}}</strong>
      </td>
    </tr>
  </table>
</div>