{{#seccion}}
  <h3>CONCLUSIÓN DE LA INSPECCIÓN</h3>
  <table>
    {{#if (hasValue observado)}}
    <tr>
      <td style="width: 70%;"><strong>Observado</strong></td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass observado}}">{{valorSiNo observado}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue director_tecnico)}}
    <tr>
      <td><strong>Director Técnico</strong></td>
      <td style="text-align: center;">
        <strong class="{{valorClass director_tecnico}}">{{valorSiNo director_tecnico}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue laboratorio)}}
    <tr>
      <td><strong>Laboratorio</strong></td>
      <td style="text-align: center;">
        <strong class="{{valorClass laboratorio}}">{{valorSiNo laboratorio}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue hemoterapia)}}
    <tr>
      <td><strong>Hemoterapia</strong></td>
      <td style="text-align: center;">
        <strong class="{{valorClass hemoterapia}}">{{valorSiNo hemoterapia}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue radiofisica)}}
    <tr>
      <td><strong>Radiofísica</strong></td>
      <td style="text-align: center;">
        <strong class="{{valorClass radiofisica}}">{{valorSiNo radiofisica}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue hemodialisis)}}
    <tr>
      <td><strong>Hemodiálisis</strong></td>
      <td style="text-align: center;">
        <strong class="{{valorClass hemodialisis}}">{{valorSiNo hemodialisis}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
{{/seccion}}
