<div class="seccion">
  <h3>CONCLUSIÓN DE LA INSPECCIÓN</h3>
  <table>
    <tr>
      <td style="width: 70%;"><strong>Observado</strong></td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if observado}}valor-si{{else}}valor-no{{/if}}">{{#if observado}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td><strong>Director Técnico</strong></td>
      <td style="text-align: center;">
        <strong class="{{#if director_tecnico}}valor-si{{else}}valor-no{{/if}}">{{#if director_tecnico}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td><strong>Laboratorio</strong></td>
      <td style="text-align: center;">
        <strong class="{{#if laboratorio}}valor-si{{else}}valor-no{{/if}}">{{#if laboratorio}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td><strong>Hemoterapia</strong></td>
      <td style="text-align: center;">
        <strong class="{{#if hemoterapia}}valor-si{{else}}valor-no{{/if}}">{{#if hemoterapia}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td><strong>Radiofísica</strong></td>
      <td style="text-align: center;">
        <strong class="{{#if radiofisica}}valor-si{{else}}valor-no{{/if}}">{{#if radiofisica}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td><strong>Hemodiálisis</strong></td>
      <td style="text-align: center;">
        <strong class="{{#if hemodialisis}}valor-si{{else}}valor-no{{/if}}">{{#if hemodialisis}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>
