<div class="seccion">
  <h3>CONSULTORIOS SALUD MENTAL</h3>
  <table>
    <tr>
      <td style="width: 70%;">Posee Consultorios Salud Mental</td>
      <td style="width: 30%; text-align: center;">{{con_sal_men}}</td>
    </tr>
    <tr>
      <td>Fecha vencimiento Plan Evacuación</td>
      <td style="text-align: center;">{{ven_plan_evac}}</td>
    </tr>
    <tr>
      <td>Fecha vencimiento Bomberos</td>
      <td style="text-align: center;">{{ven_bomb}}</td>
    </tr>
    <tr>
      <td>Fecha vencimiento Extinguidores</td>
      <td style="text-align: center;">{{ven_exti}}</td>
    </tr>
  </table>
</div>
