<div class="seccion">
  <h3>CONSULTORIOS - GENERAL</h3>
  <table>
    {{#if (hasValue consultorios_equipados)}}
    <tr>
      <td style="width: 70%;">Consultorios equipados</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass consultorios_equipados}}">{{valorSiNo consultorios_equipados}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue sala_espera)}}
    <tr>
      <td>Sala de espera</td>
      <td style="text-align: center;">
        <strong class="{{valorClass sala_espera}}">{{valorSiNo sala_espera}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue sanitarios)}}
    <tr>
      <td>Sanitarios diferenciados</td>
      <td style="text-align: center;">
        <strong class="{{valorClass sanitarios}}">{{valorSiNo sanitarios}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue mesa_reconocimiento)}}
    <tr>
      <td>Mesa de reconocimiento</td>
      <td style="text-align: center;">
        <strong class="{{valorClass mesa_reconocimiento}}">{{valorSiNo mesa_reconocimiento}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue iluminacion)}}
    <tr>
      <td>Iluminación adecuada</td>
      <td style="text-align: center;">
        <strong class="{{valorClass iluminacion}}">{{valorSiNo iluminacion}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
