{{#seccionWrapper}}
  <h3>CONSULTORIOS EXTERNOS</h3>
  <table>
    {{#if (hasValue cons_ext)}}
    <tr>
      <td style="width: 70%;">Posee Consultorios Externos</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass cons_ext}}">{{valorSiNo cons_ext}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cant_tot)}}
    <tr>
      <td>Cantidad total de consultorios</td>
      <td style="text-align: center;">{{cant_tot}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue can_cons)}}
    <tr>
      <td>Consultorios con baño privado y vestuario</td>
      <td style="text-align: center;">{{can_cons}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue cons_lav)}}
    <tr>
      <td>Consultorio con lavabo</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cons_lav}}">{{valorSiNo cons_lav}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
{{/seccionWrapper}}
