<div class="seccion">
  <h3>CONSULTORIOS EXTERNOS</h3>
  <table>
    <tr>
      <td style="width: 70%;">Posee Consultorios Externos</td>
      <td style="width: 30%; text-align: center;">{{cons_ext}}</td>
    </tr>
    <tr>
      <td>Cantidad total de consultorios</td>
      <td style="text-align: center;">{{cant_tot}}</td>
    </tr>
    <tr>
      <td>Consultorios con baño privado y vestuario</td>
      <td style="text-align: center;">{{can_cons}}</td>
    </tr>
    <tr>
      <td>Consultorio con lavabo</td>
      <td style="text-align: center;">{{cons_lav}}</td>
    </tr>
  </table>
</div>
