<div class="seccion">
  <h3>DATOS GENERALES</h3>
  <table>
    {{#if (hasValue cant_pl)}}
    <tr>
      <td style="width: 70%;">Cantidad de Plantas</td>
      <td style="width: 30%; text-align: center;">{{cant_pl}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue fec_ult_ins)}}
    <tr>
      <td>Fecha última inspección del conservador</td>
      <td style="text-align: center;">{{fec_ult_ins}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue pos_mon_asc)}}
    <tr>
      <td>Posee Montacamillas / Ascensores</td>
      <td style="text-align: center;">
        <strong class="{{valorClass pos_mon_asc}}">{{valorSiNo pos_mon_asc}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue banio_dis)}}
    <tr>
      <td>Baño para público discapacitado mixtos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass banio_dis}}">{{valorSiNo banio_dis}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue lib_ing)}}
    <tr>
      <td>Libre ingreso, circulación y giro de camillas</td>
      <td style="text-align: center;">
        <strong class="{{valorClass lib_ing}}">{{valorSiNo lib_ing}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue luc_aut)}}
    <tr>
      <td>Luces autónomas de emergencia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass luc_aut}}">{{valorSiNo luc_aut}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue equi_ele)}}
    <tr>
      <td>Equipo Electrógeno</td>
      <td style="text-align: center;">
        <strong class="{{valorClass equi_ele}}">{{valorSiNo equi_ele}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue pl_ev_vi)}}
    <tr>
      <td>Plan Evacuación vigente</td>
      <td style="text-align: center;">
        <strong class="{{valorClass pl_ev_vi}}">{{valorSiNo pl_ev_vi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ex_inc)}}
    <tr>
      <td>Extinguidores de Incendios (vigente o no)</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ex_inc}}">{{valorSiNo ex_inc}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue sal_eme)}}
    <tr>
      <td>Salida de Emergencia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass sal_eme}}">{{valorSiNo sal_eme}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue hab_bomb)}}
    <tr>
      <td>Habilitación Bomberos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hab_bomb}}">{{valorSiNo hab_bomb}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue sil_rue)}}
    <tr>
      <td>Silla de Ruedas</td>
      <td style="text-align: center;">
        <strong class="{{valorClass sil_rue}}">{{valorSiNo sil_rue}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue to_cam_ort)}}
    <tr>
      <td>Todas las camas tipo Ortopedia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass to_cam_ort}}">{{valorSiNo to_cam_ort}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue pos_pla)}}
    <tr>
      <td>Posee planos inclinados</td>
      <td style="text-align: center;">
        <strong class="{{valorClass pos_pla}}">{{valorSiNo pos_pla}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
