<div class="seccion">
  <h3>DATOS GENERALES</h3>
  <table>
    <tr>
      <td style="width: 70%;">Cantidad de Plantas</td>
      <td style="width: 30%; text-align: center;">{{cant_pl}}</td>
    </tr>
    <tr>
      <td>Fecha última inspección del conservador</td>
      <td style="text-align: center;">{{fec_ult_ins}}</td>
    </tr>
    <tr>
      <td>Posee Montacamillas / Ascensores</td>
      <td style="text-align: center;">{{pos_mon_asc}}</td>
    </tr>
    <tr>
      <td>Baño para público discapacitado mixtos</td>
      <td style="text-align: center;">{{banio_dis}}</td>
    </tr>
    <tr>
      <td>Libre ingreso, circulación y giro de camillas</td>
      <td style="text-align: center;">{{lib_ing}}</td>
    </tr>
    <tr>
      <td>Luces autónomas de emergencia</td>
      <td style="text-align: center;">{{luc_aut}}</td>
    </tr>
    <tr>
      <td>Equipo Electrógeno</td>
      <td style="text-align: center;">{{equi_ele}}</td>
    </tr>
    <tr>
      <td>Plan Evacuación vigente</td>
      <td style="text-align: center;">{{pl_ev_vi}}</td>
    </tr>
    <tr>
      <td>Extinguidores de Incendios (vigente o no)</td>
      <td style="text-align: center;">{{ex_inc}}</td>
    </tr>
    <tr>
      <td>Salida de Emergencia</td>
      <td style="text-align: center;">{{sal_eme}}</td>
    </tr>
    <tr>
      <td>Habilitación Bomberos</td>
      <td style="text-align: center;">{{hab_bomb}}</td>
    </tr>
    <tr>
      <td>Silla de Ruedas</td>
      <td style="text-align: center;">{{sil_rue}}</td>
    </tr>
    <tr>
      <td>Todas las camas tipo Ortopedia</td>
      <td style="text-align: center;">{{to_cam_ort}}</td>
    </tr>
    <tr>
      <td>Posee planos inclinados</td>
      <td style="text-align: center;">{{pos_pla}}</td>
    </tr>
  </table>
</div>