<div class="seccion">
  <h3>DIRECCIÓN Y FUNCIONAMIENTO</h3>
  <table>
    {{#if (hasValue direccion_existe)}}
    <tr>
      <td style="width: 70%;">Existencia de Dirección Técnica</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass direccion_existe}}">{{valorSiNo direccion_existe}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue registro_profesionales)}}
    <tr>
      <td>Registro de profesionales</td>
      <td style="text-align: center;">
        <strong class="{{valorClass registro_profesionales}}">{{valorSiNo registro_profesionales}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue libros_rubricados)}}
    <tr>
      <td>Libros rubricados</td>
      <td style="text-align: center;">
        <strong class="{{valorClass libros_rubricados}}">{{valorSiNo libros_rubricados}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue habilitacion_vigente)}}
    <tr>
      <td>Habilitación vigente</td>
      <td style="text-align: center;">
        <strong class="{{valorClass habilitacion_vigente}}">{{valorSiNo habilitacion_vigente}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue seguro_rc)}}
    <tr>
      <td>Seguro de responsabilidad civil</td>
      <td style="text-align: center;">
        <strong class="{{valorClass seguro_rc}}">{{valorSiNo seguro_rc}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue botiquin)}}
    <tr>
      <td>Botiquín de primeros auxilios</td>
      <td style="text-align: center;">
        <strong class="{{valorClass botiquin}}">{{valorSiNo botiquin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cartel_emergencia)}}
    <tr>
      <td>Cartel de emergencia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cartel_emergencia}}">{{valorSiNo cartel_emergencia}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
