<div class="seccion">
  <h3>DIRECCIÓN Y FUNCIONAMIENTO</h3>
  <table>
    <tr>
      <td style="width: 70%;">Existencia de Dirección Técnica</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if direccion_existe}}valor-si{{else}}valor-no{{/if}}">{{#if direccion_existe}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Registro de profesionales</td>
      <td style="text-align: center;">
        <strong class="{{#if registro_profesionales}}valor-si{{else}}valor-no{{/if}}">{{#if registro_profesionales}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Libros rubricados</td>
      <td style="text-align: center;">
        <strong class="{{#if libros_rubricados}}valor-si{{else}}valor-no{{/if}}">{{#if libros_rubricados}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Habilitación vigente</td>
      <td style="text-align: center;">
        <strong class="{{#if habilitacion_vigente}}valor-si{{else}}valor-no{{/if}}">{{#if habilitacion_vigente}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Seguro de responsabilidad civil</td>
      <td style="text-align: center;">
        <strong class="{{#if seguro_rc}}valor-si{{else}}valor-no{{/if}}">{{#if seguro_rc}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Botiquín de primeros auxilios</td>
      <td style="text-align: center;">
        <strong class="{{#if botiquin}}valor-si{{else}}valor-no{{/if}}">{{#if botiquin}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Cartel de emergencia</td>
      <td style="text-align: center;">
        <strong class="{{#if cartel_emergencia}}valor-si{{else}}valor-no{{/if}}">{{#if cartel_emergencia}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>