<div class="seccion">
  <h3>EMERGENCIAS - GENERAL</h3>
  <table>
    {{#if (hasValue eme_shockroom)}}
    <tr>
      <td style="width: 70%;">Shock room</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass eme_shockroom}}">{{valorSiNo eme_shockroom}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue eme_ambulancia)}}
    <tr>
      <td>Ambulancia propia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass eme_ambulancia}}">{{valorSiNo eme_ambulancia}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue eme_cardioversor)}}
    <tr>
      <td>Cardioversor</td>
      <td style="text-align: center;">
        <strong class="{{valorClass eme_cardioversor}}">{{valorSiNo eme_cardioversor}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue eme_oxigeno)}}
    <tr>
      <td>Oxígeno medicinal</td>
      <td style="text-align: center;">
        <strong class="{{valorClass eme_oxigeno}}">{{valorSiNo eme_oxigeno}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
