<div class="seccion">
  <h3>ENFERMERÍA</h3>
  <table>
    <tr>
      <td style="width: 70%;">Posee local propio</td>
      <td style="width: 30%; text-align: center;">{{loc_prop}}</td>
    </tr>
    <tr>
      <td>Botiquín de urgencia</td>
      <td style="text-align: center;">{{bot_urg}}</td>
    </tr>
    <tr>
      <td>Tubo de oxígeno</td>
      <td style="text-align: center;">{{tub_oxi}}</td>
    </tr>
    <tr>
      <td>Mesada con Pileta</td>
      <td style="text-align: center;">{{mes_pil}}</td>
    </tr>
    <tr>
      <td>Armario o vitrina</td>
      <td style="text-align: center;">{{arm_vit}}</td>
    </tr>
    <tr>
      <td>Área sucia</td>
      <td style="text-align: center;">{{ar_suc}}</td>
    </tr>
    <tr>
      <td>Área limpia</td>
      <td style="text-align: center;">{{ar_lim}}</td>
    </tr>
  </table>
</div>