{{#seccionWrapper}}
  <h3>ENFERMERÍA</h3>
  <table>
    {{#if (hasValue loc_prop)}}
    <tr>
      <td style="width: 70%;">Posee local propio</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass loc_prop}}">{{valorSiNo loc_prop}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue bot_urg)}}
    <tr>
      <td>Botiquín de urgencia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass bot_urg}}">{{valorSiNo bot_urg}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue tub_oxi)}}
    <tr>
      <td>Tubo de oxígeno</td>
      <td style="text-align: center;">
        <strong class="{{valorClass tub_oxi}}">{{valorSiNo tub_oxi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue mes_pil)}}
    <tr>
      <td>Mesada con Pileta</td>
      <td style="text-align: center;">
        <strong class="{{valorClass mes_pil}}">{{valorSiNo mes_pil}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue arm_vit)}}
    <tr>
      <td>Armario o vitrina</td>
      <td style="text-align: center;">
        <strong class="{{valorClass arm_vit}}">{{valorSiNo arm_vit}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ar_suc)}}
    <tr>
      <td>Área sucia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ar_suc}}">{{valorSiNo ar_suc}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ar_lim)}}
    <tr>
      <td>Área limpia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ar_lim}}">{{valorSiNo ar_lim}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
{{/seccionWrapper}}
