<div class="seccion">
  <h3>INSCRIPCIÓN Y HABILITACIÓN - ESTÉTICA/ONCOLÓGICO</h3>
  <table>
    <tr>
      <td style="width: 70%;">N° Total de Camas de recuperación</td>
      <td style="width: 30%; text-align: center;">{{nro_cam_rec}}</td>
    </tr>
    <tr>
      <td>Tipo de Sociedad</td>
      <td style="text-align: center;">{{ti_soc}}</td>
    </tr>
    <tr>
      <td>Aditamento Privado</td>
      <td style="text-align: center;">
        <strong class="{{#if ad_priv}}valor-si{{else}}valor-no{{/if}}">{{#if ad_priv}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Planos</td>
      <td style="text-align: center;">
        <strong class="{{#if pla}}valor-si{{else}}valor-no{{/if}}">{{#if pla}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Certificado autorización Laboratorio</td>
      <td style="text-align: center;">
        <strong class="{{#if cer_au_lab}}valor-si{{else}}valor-no{{/if}}">{{#if cer_au_lab}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Certificado autorización Individual</td>
      <td style="text-align: center;">
        <strong class="{{#if cer_au_ind}}valor-si{{else}}valor-no{{/if}}">{{#if cer_au_ind}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Certificado Habilitación Hemoterapia</td>
      <td style="text-align: center;">
        <strong class="{{#if cer_hab_hemo}}valor-si{{else}}valor-no{{/if}}">{{#if cer_hab_hemo}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Certificado autorización Diagnóstico x Imágenes</td>
      <td style="text-align: center;">
        <strong class="{{#if cer_au_dia_ima}}valor-si{{else}}valor-no{{/if}}">{{#if cer_au_dia_ima}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Director y Listado de Profesionales</td>
      <td style="text-align: center;">
        <strong class="{{#if dir_lis_pro}}valor-si{{else}}valor-no{{/if}}">{{#if dir_lis_pro}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Organigrama funcional</td>
      <td style="text-align: center;">
        <strong class="{{#if org_func}}valor-si{{else}}valor-no{{/if}}">{{#if org_func}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Convenio Servicio de Emergencias / Unidades Móviles</td>
      <td style="text-align: center;">
        <strong class="{{#if conv_serv}}valor-si{{else}}valor-no{{/if}}">{{#if conv_serv}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>