{{#seccionWrapper}}
  <h3>CONSULTORIOS - ESTÉTICA/ONCOLÓGICO</h3>
  <table>
    {{#if (hasValue nro)}}
    <tr>
      <td style="width: 70%;">Número de consultorios</td>
      <td style="width: 30%; text-align: center;">{{nro}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue vent)}}
    <tr>
      <td>Ventilación</td>
      <td style="text-align: center;">
        <strong class="{{valorClass vent}}">{{valorSiNo vent}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue lavabos)}}
    <tr>
      <td>Lavabos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass lavabos}}">{{valorSiNo lavabos}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue sup)}}
    <tr>
      <td>Superficie</td>
      <td style="text-align: center;">{{sup}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue ba_disc)}}
    <tr>
      <td>Baño para discapacitados</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ba_disc}}">{{valorSiNo ba_disc}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ilum)}}
    <tr>
      <td>Iluminación</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ilum}}">{{valorSiNo ilum}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue priva)}}
    <tr>
      <td>Privacidad</td>
      <td style="text-align: center;">
        <strong class="{{valorClass priva}}">{{valorSiNo priva}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ar_es)}}
    <tr>
      <td>Área de Espera</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ar_es}}">{{valorSiNo ar_es}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cons_c_ba)}}
    <tr>
      <td>Consultorio c/baño incluido</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cons_c_ba}}">{{valorSiNo cons_c_ba}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue mi_ad_pres)}}
    <tr>
      <td>Microscopio adecuado a las prestaciones</td>
      <td style="text-align: center;">
        <strong class="{{valorClass mi_ad_pres}}">{{valorSiNo mi_ad_pres}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue con_emp_aut)}}
    <tr>
      <td>Contrato con empresa autorizada</td>
      <td style="text-align: center;">
        <strong class="{{valorClass con_emp_aut}}">{{valorSiNo con_emp_aut}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
{{/seccionWrapper}}