<div class="seccion">
  <h3>CONSULTORIOS - ESTÉTICA/ONCOLÓGICO</h3>
  <table>
    <tr>
      <td style="width: 70%;">Número de consultorios</td>
      <td style="width: 30%; text-align: center;">{{nro}}</td>
    </tr>
    <tr>
      <td>Ventilación</td>
      <td style="text-align: center;">
        <strong class="{{#if vent}}valor-si{{else}}valor-no{{/if}}">{{#if vent}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Lavabos</td>
      <td style="text-align: center;">
        <strong class="{{#if lavabos}}valor-si{{else}}valor-no{{/if}}">{{#if lavabos}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Superficie</td>
      <td style="text-align: center;">{{sup}}</td>
    </tr>
    <tr>
      <td>Baño para discapacitados</td>
      <td style="text-align: center;">
        <strong class="{{#if ba_disc}}valor-si{{else}}valor-no{{/if}}">{{#if ba_disc}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Iluminación</td>
      <td style="text-align: center;">
        <strong class="{{#if ilum}}valor-si{{else}}valor-no{{/if}}">{{#if ilum}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Privacidad</td>
      <td style="text-align: center;">
        <strong class="{{#if priva}}valor-si{{else}}valor-no{{/if}}">{{#if priva}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Área de Espera</td>
      <td style="text-align: center;">
        <strong class="{{#if ar_es}}valor-si{{else}}valor-no{{/if}}">{{#if ar_es}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Consultorio c/baño incluido</td>
      <td style="text-align: center;">
        <strong class="{{#if cons_c_ba}}valor-si{{else}}valor-no{{/if}}">{{#if cons_c_ba}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Microscopio adecuado a las prestaciones</td>
      <td style="text-align: center;">
        <strong class="{{#if mi_ad_pres}}valor-si{{else}}valor-no{{/if}}">{{#if mi_ad_pres}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Contrato con empresa autorizada</td>
      <td style="text-align: center;">
        <strong class="{{#if con_emp_aut}}valor-si{{else}}valor-no{{/if}}">{{#if con_emp_aut}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>