<div class="seccion">
  <h3>FARMACIA - GENERAL</h3>
  <table>
    {{#if (hasValue farma_deposito)}}
    <tr>
      <td style="width: 70%;">Depósito de medicamentos</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass farma_deposito}}">{{valorSiNo farma_deposito}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue farma_control_temp)}}
    <tr>
      <td>Control de temperatura</td>
      <td style="text-align: center;">
        <strong class="{{valorClass farma_control_temp}}">{{valorSiNo farma_control_temp}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue farma_farmaceutico)}}
    <tr>
      <td>Farmacéutico</td>
      <td style="text-align: center;">
        <strong class="{{valorClass farma_farmaceutico}}">{{valorSiNo farma_farmaceutico}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue farma_stock)}}
    <tr>
      <td>Stock de emergencia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass farma_stock}}">{{valorSiNo farma_stock}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
