<div class="seccion">
  <h3>GUARDIA</h3>
  <table>
    <tr>
      <td style="width: 70%;">N° de Camas</td>
      <td style="width: 30%; text-align: center;">{{nro_camas_guardia}}</td>
    </tr>
    <tr>
      <td>Cumple con edificación</td>
      <td style="text-align: center;">{{c_e_guardia}}</td>
    </tr>
    <tr>
      <td>Planos</td>
      <td style="text-align: center;">{{p_guardia}}</td>
    </tr>
    <tr>
      <td>Médicos (N°)</td>
      <td style="text-align: center;">{{medicos_guardia}}</td>
    </tr>
    <tr>
      <td>Enfermeras (N°)</td>
      <td style="text-align: center;">{{enfermeras_guardia}}</td>
    </tr>
    <tr>
      <td>Cardiodesfibrilador</td>
      <td style="text-align: center;">{{cardi_guardia}}</td>
    </tr>
    <tr>
      <td>Electrocardiógrafo</td>
      <td style="text-align: center;">{{elec_guardia}}</td>
    </tr>
    <tr>
      <td>Oxímetro de pulso / monitor multiparamétrico</td>
      <td style="text-align: center;">{{m_m_guardia}}</td>
    </tr>
    <tr>
      <td>Equipo para nebulizaciones</td>
      <td style="text-align: center;">{{e_p_n_guardia}}</td>
    </tr>
    <tr>
      <td>Carro de paro completo</td>
      <td style="text-align: center;">{{c_d_p_guardia}}</td>
    </tr>
  </table>
</div>