{{#seccionWrapper}}
  <h3>GUARDIA</h3>
  <table>
    {{#if (hasValue nro_camas_guardia)}}
    <tr>
      <td style="width: 70%;">N° de Camas</td>
      <td style="width: 30%; text-align: center;">{{nro_camas_guardia}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue c_e_guardia)}}
    <tr>
      <td>Coincide con edificación</td>
      <td style="text-align: center;">
        <strong class="{{valorClass c_e_guardia}}">{{valorSiNo c_e_guardia}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue p_guardia)}}
    <tr>
      <td>Planos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass p_guardia}}">{{valorSiNo p_guardia}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue medicos_guardia)}}
    <tr>
      <td>Médicos (N°)</td>
      <td style="text-align: center;">{{medicos_guardia}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue enfermeras_guardia)}}
    <tr>
      <td>Enfermeras (N°)</td>
      <td style="text-align: center;">{{enfermeras_guardia}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue cardi_guardia)}}
    <tr>
      <td>Cardiodesfibrilador</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cardi_guardia}}">{{valorSiNo cardi_guardia}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue elec_guardia)}}
    <tr>
      <td>Electrocardiógrafo</td>
      <td style="text-align: center;">
        <strong class="{{valorClass elec_guardia}}">{{valorSiNo elec_guardia}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue m_m_guardia)}}
    <tr>
      <td>Oxímetro de pulso / monitor multiparamétrico</td>
      <td style="text-align: center;">
        <strong class="{{valorClass m_m_guardia}}">{{valorSiNo m_m_guardia}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue e_p_n_guardia)}}
    <tr>
      <td>Equipo para nebulizaciones</td>
      <td style="text-align: center;">
        <strong class="{{valorClass e_p_n_guardia}}">{{valorSiNo e_p_n_guardia}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue c_d_p_guardia)}}
    <tr>
      <td>Carro de paro completo</td>
      <td style="text-align: center;">
        <strong class="{{valorClass c_d_p_guardia}}">{{valorSiNo c_d_p_guardia}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
{{/seccionWrapper}}
