<div class="seccion">
  <h3>DIRECCIÓN Y ORGANIZACIÓN - HEMODIÁLISIS</h3>
  <table>
    <tr>
      <td style="width: 70%;">Existencia de Dirección Técnica</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if hd_direccion_existe}}valor-si{{else}}valor-no{{/if}}">{{#if hd_direccion_existe}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Médico Nefrólogo</td>
      <td style="text-align: center;">
        <strong class="{{#if hd_nefrologo}}valor-si{{else}}valor-no{{/if}}">{{#if hd_nefrologo}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Médicos de planta</td>
      <td style="text-align: center;">
        <strong class="{{#if hd_medicos_planta}}valor-si{{else}}valor-no{{/if}}">{{#if hd_medicos_planta}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Enfermería especializada</td>
      <td style="text-align: center;">
        <strong class="{{#if hd_enfermeria}}valor-si{{else}}valor-no{{/if}}">{{#if hd_enfermeria}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Licenciadas en Nutrición</td>
      <td style="text-align: center;">
        <strong class="{{#if hd_nutricionista}}valor-si{{else}}valor-no{{/if}}">{{#if hd_nutricionista}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Trabajador/a Social</td>
      <td style="text-align: center;">
        <strong class="{{#if hd_trabajador_social}}valor-si{{else}}valor-no{{/if}}">{{#if hd_trabajador_social}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Psicólogo/a</td>
      <td style="text-align: center;">
        <strong class="{{#if hd_psicologo}}valor-si{{else}}valor-no{{/if}}">{{#if hd_psicologo}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Kinesiólogo/a</td>
      <td style="text-align: center;">
        <strong class="{{#if hd_kinesiologo}}valor-si{{else}}valor-no{{/if}}">{{#if hd_kinesiologo}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>