<div class="seccion">
  <h3>DIRECCIÓN Y FUNCIONAMIENTO - HEMODIÁLISIS</h3>
  <table>
    <tr>
      <td style="width: 70%;">Unidad de Diálisis Independiente</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if indiaind_hemodi}}valor-si{{else}}valor-no{{/if}}">{{#if indiaind_hemodi}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Registro de Psicofármacos Actualizado</td>
      <td style="text-align: center;">
        <strong class="{{#if repsico_hemodi}}valor-si{{else}}valor-no{{/if}}">{{#if repsico_hemodi}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Registro de Enfermedades Transmisibles</td>
      <td style="text-align: center;">
        <strong class="{{#if reenftra_hemodi}}valor-si{{else}}valor-no{{/if}}">{{#if reenftra_hemodi}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Reglamento Interno</td>
      <td style="text-align: center;">
        <strong class="{{#if regint_hemodi}}valor-si{{else}}valor-no{{/if}}">{{#if regint_hemodi}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Plan de Evacuación</td>
      <td style="text-align: center;">
        <strong class="{{#if plevac_hemodi}}valor-si{{else}}valor-no{{/if}}">{{#if plevac_hemodi}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Habilitación de Bomberos</td>
      <td style="text-align: center;">
        <strong class="{{#if habbomb_hemodi}}valor-si{{else}}valor-no{{/if}}">{{#if habbomb_hemodi}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Normas bioseguridad expuestas</td>
      <td style="text-align: center;">
        <strong class="{{#if nobio_hemodi}}valor-si{{else}}valor-no{{/if}}">{{#if nobio_hemodi}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Normas de Procedimientos para Médicos</td>
      <td style="text-align: center;">
        <strong class="{{#if nropromed_hemodi}}valor-si{{else}}valor-no{{/if}}">{{#if nropromed_hemodi}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Normas de Procedimientos para Enfermeras</td>
      <td style="text-align: center;">
        <strong class="{{#if noproenf_hemodi}}valor-si{{else}}valor-no{{/if}}">{{#if noproenf_hemodi}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Nro de Inscripción INCUCAI y/o ECODAI</td>
      <td style="text-align: center;">{{nroins_hemodi}}</td>
    </tr>
    <tr>
      <td>Carpetas de Inscripción INCUCAI y/o ECODAI</td>
      <td style="text-align: center;">
        <strong class="{{#if insc_hemodi}}valor-si{{else}}valor-no{{/if}}">{{#if insc_hemodi}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Convenio de Internación</td>
      <td style="text-align: center;">
        <strong class="{{#if conv_int_hemodi}}valor-si{{else}}valor-no{{/if}}">{{#if conv_int_hemodi}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Registro Historia Clínica completa</td>
      <td style="text-align: center;">
        <strong class="{{#if regclincomp_hemodi}}valor-si{{else}}valor-no{{/if}}">{{#if regclincomp_hemodi}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Cantidad de puestos</td>
      <td style="text-align: center;">{{cant_pues_hemo}}</td>
    </tr>
  </table>
</div>