<div class="seccion">
  <h3>HEMODINAMIA</h3>
  <table>
    <tr>
      <td style="width: 70%;">N° de Camas</td>
      <td style="width: 30%; text-align: center;">{{nro_camas_hemo}}</td>
    </tr>
    <tr>
      <td>Planos</td>
      <td style="text-align: center;">{{planos_hemo}}</td>
    </tr>
    <tr>
      <td>Cumple con edificación</td>
      <td style="text-align: center;">{{coed_hemo}}</td>
    </tr>
    <tr>
      <td>Jefe de Servicio</td>
      <td style="text-align: center;">{{jefserv_hemo}}</td>
    </tr>
    <tr>
      <td>Médico</td>
      <td style="text-align: center;">{{med_hemo}}</td>
    </tr>
    <tr>
      <td>Enfermero profesional</td>
      <td style="text-align: center;">{{enfprof_hemo}}</td>
    </tr>
    <tr>
      <td>Médico radiólogo</td>
      <td style="text-align: center;">{{meradi_hemo}}</td>
    </tr>
    <tr>
      <td>Médico anestesista</td>
      <td style="text-align: center;">{{meanes_hemo}}</td>
    </tr>
    <tr>
      <td>Arco en C o paralelogramo deformable</td>
      <td style="text-align: center;">{{arcc_hemo}}</td>
    </tr>
    <tr>
      <td>Mesa de Cateterismo</td>
      <td style="text-align: center;">{{mecate_hemo}}</td>
    </tr>
    <tr>
      <td>Intensificador de imágenes</td>
      <td style="text-align: center;">{{intima_hemo}}</td>
    </tr>
    <tr>
      <td>Tubo de rayos X</td>
      <td style="text-align: center;">{{tubrayx_hemo}}</td>
    </tr>
    <tr>
      <td>Generadores pulsados por tetrodos</td>
      <td style="text-align: center;">{{genpul_hemo}}</td>
    </tr>
    <tr>
      <td>Electrocardiógrafo</td>
      <td style="text-align: center;">{{elec_hemo}}</td>
    </tr>
    <tr>
      <td>Oxímetro de pulso</td>
      <td style="text-align: center;">{{oxipul_hemo}}</td>
    </tr>
    <tr>
      <td>Cardiodesfibrilador</td>
      <td style="text-align: center;">{{cardio_hemo}}</td>
    </tr>
    <tr>
      <td>Inyectora de contraste</td>
      <td style="text-align: center;">{{iny_con_hemo}}</td>
    </tr>
    <tr>
      <td>Monitor digital</td>
      <td style="text-align: center;">{{mondig_hemo}}</td>
    </tr>
  </table>
</div>