{{#seccion}}
  <h3>ANÁLISIS DE AGUA</h3>
  <table>
    {{#if (hasValue fisquim_hemodi)}}
    <tr>
      <td style="width: 70%;">Análisis Fisicoquímico</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass fisquim_hemodi}}">{{valorSiNo fisquim_hemodi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ulfisqui_hemodi)}}
    <tr>
      <td>Fecha último análisis fisicoquímico</td>
      <td style="text-align: center;">{{ulfisqui_hemodi}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue bacterio_hemodi)}}
    <tr>
      <td>Análisis Bacteriológico</td>
      <td style="text-align: center;">
        <strong class="{{valorClass bacterio_hemodi}}">{{valorSiNo bacterio_hemodi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ulbacte_hemodi)}}
    <tr>
      <td>Fecha último análisis bacteriológico</td>
      <td style="text-align: center;">{{ulbacte_hemodi}}</td>
    </tr>
    {{/if}}
  </table>
{{/seccion}}
