<div class="seccion">
  <h3>DIRECCIÓN Y ORGANIZACIÓN - HEMODIÁLISIS</h3>
  <table>
    <tr>
      <td style="width: 70%;">Existencia de Dirección Técnica</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass hd_direccion_existe}}">{{valorSiNo hd_direccion_existe}}</strong>
      </td>
    </tr>
    <tr>
      <td>Médico Nefrólogo</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hd_nefrologo}}">{{valorSiNo hd_nefrologo}}</strong>
      </td>
    </tr>
    <tr>
      <td>Médicos de planta</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hd_medicos_planta}}">{{valorSiNo hd_medicos_planta}}</strong>
      </td>
    </tr>
    <tr>
      <td>Enfermería especializada</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hd_enfermeria}}">{{valorSiNo hd_enfermeria}}</strong>
      </td>
    </tr>
    <tr>
      <td>Licenciadas en Nutrición</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hd_nutricionista}}">{{valorSiNo hd_nutricionista}}</strong>
      </td>
    </tr>
    <tr>
      <td>Trabajador/a Social</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hd_trabajador_social}}">{{valorSiNo hd_trabajador_social}}</strong>
      </td>
    </tr>
    <tr>
      <td>Psicólogo/a</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hd_psicologo}}">{{valorSiNo hd_psicologo}}</strong>
      </td>
    </tr>
    <tr>
      <td>Kinesiólogo/a</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hd_kinesiologo}}">{{valorSiNo hd_kinesiologo}}</strong>
      </td>
    </tr>
  </table>
</div>