{{#seccionWrapper}}
  <h3>SEROLOGÍA</h3>
  <table>
    {{#if (hasValue hiv_hemodi)}}
    <tr>
      <td style="width: 70%;">HIV (Personal)</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass hiv_hemodi}}">{{valorSiNo hiv_hemodi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue hepb_hemodi)}}
    <tr>
      <td>Hepatitis B (Personal)</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hepb_hemodi}}">{{valorSiNo hepb_hemodi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue hepc_hemodi)}}
    <tr>
      <td>Hepatitis C (Personal)</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hepc_hemodi}}">{{valorSiNo hepc_hemodi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue obs_hemodi)}}
    <tr>
      <td>Observaciones</td>
      <td style="text-align: center;">{{obs_hemodi}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue perenf_hemodi)}}
    <tr>
      <td>Planillas de Personal Enfermería</td>
      <td style="text-align: center;">
        <strong class="{{valorClass perenf_hemodi}}">{{valorSiNo perenf_hemodi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue hivpa_hemodi)}}
    <tr>
      <td>HIV (Pacientes)</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hivpa_hemodi}}">{{valorSiNo hivpa_hemodi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue hb_hemodi)}}
    <tr>
      <td>Hepatitis B (Pacientes)</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hb_hemodi}}">{{valorSiNo hb_hemodi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue hc_hemodi)}}
    <tr>
      <td>Hepatitis C (Pacientes)</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hc_hemodi}}">{{valorSiNo hc_hemodi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue libreu_hemodi)}}
    <tr>
      <td>Libro de Reusos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass libreu_hemodi}}">{{valorSiNo libreu_hemodi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cmaxreus_hemodi)}}
    <tr>
      <td>Cantidad máxima de reusos</td>
      <td style="text-align: center;">{{cmaxreus_hemodi}}</td>
    </tr>
    {{/if}}
  </table>
{{/seccionWrapper}}
