<div class="seccion">
  <h3>HEMOTERAPIA - GENERAL</h3>
  <table>
    {{#if (hasValue hemo_banco)}}
    <tr>
      <td style="width: 70%;">Banco de sangre</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass hemo_banco}}">{{valorSiNo hemo_banco}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue hemo_heladera)}}
    <tr>
      <td>Heladera refrigerada</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hemo_heladera}}">{{valorSiNo hemo_heladera}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue hemo_freezer)}}
    <tr>
      <td>Freezer de plasma</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hemo_freezer}}">{{valorSiNo hemo_freezer}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue hemo_control_temp)}}
    <tr>
      <td>Control de temperatura</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hemo_control_temp}}">{{valorSiNo hemo_control_temp}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
