<div class="seccion">
  <h3>HEMOTERAPIA - GENERAL</h3>
  <table>
    <tr>
      <td style="width: 70%;">Banco de sangre</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if hemo_banco}}valor-si{{else}}valor-no{{/if}}">{{#if hemo_banco}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Heladera refrigerada</td>
      <td style="text-align: center;">
        <strong class="{{#if hemo_heladera}}valor-si{{else}}valor-no{{/if}}">{{#if hemo_heladera}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Freezer de plasma</td>
      <td style="text-align: center;">
        <strong class="{{#if hemo_freezer}}valor-si{{else}}valor-no{{/if}}">{{#if hemo_freezer}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Control de temperatura</td>
      <td style="text-align: center;">
        <strong class="{{#if hemo_control_temp}}valor-si{{else}}valor-no{{/if}}">{{#if hemo_control_temp}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>