<div class="seccion">
  <h3>SEROLOGÍA DE PACIENTES</h3>
  <table>
    <tr>
      <td style="width: 70%;">Hepatitis B (HBs Ag)</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass serologia_pacientes_hepatitis_b}}">{{valorSiNo serologia_pacientes_hepatitis_b}}</strong>
      </td>
    </tr>
    <tr>
      <td>Hepatitis C (Anti VHC)</td>
      <td style="text-align: center;">
        <strong class="{{valorClass serologia_pacientes_hepatitis_c}}">{{valorSiNo serologia_pacientes_hepatitis_c}}</strong>
      </td>
    </tr>
    <tr>
      <td>VIH</td>
      <td style="text-align: center;">
        <strong class="{{valorClass serologia_pacientes_vih}}">{{valorSiNo serologia_pacientes_vih}}</strong>
      </td>
    </tr>
    <tr>
      <td>Fecha último control serológico</td>
      <td style="text-align: center;">{{fecha_serologia_pacientes}}</td>
    </tr>
  </table>
</div>