<div class="seccion">
  <h3>HOSPITAL DE DÍA</h3>
  <table>
    <tr>
      <td style="width: 70%;">N° de Camas</td>
      <td style="width: 30%; text-align: center;">{{nro_camas_hdd}}</td>
    </tr>
    <tr>
      <td>Planos</td>
      <td style="text-align: center;">{{plan_hdd}}</td>
    </tr>
    <tr>
      <td>Cumple con edificación</td>
      <td style="text-align: center;">{{coed_hdd}}</td>
    </tr>
    <tr>
      <td>Jefe de Servicio</td>
      <td style="text-align: center;">{{jefserv_hdd}}</td>
    </tr>
    <tr>
      <td>Médico oncológico</td>
      <td style="text-align: center;">{{medonc_hdd}}</td>
    </tr>
    <tr>
      <td>Trabajador social</td>
      <td style="text-align: center;">{{trsoc_hdd}}</td>
    </tr>
    <tr>
      <td>Enfermeros</td>
      <td style="text-align: center;">{{enf_hdd}}</td>
    </tr>
    <tr>
      <td>Kinesiólogo</td>
      <td style="text-align: center;">{{kine_hdd}}</td>
    </tr>
    <tr>
      <td>Psicólogo</td>
      <td style="text-align: center;">{{psico_hdd}}</td>
    </tr>
    <tr>
      <td>Nutricionista</td>
      <td style="text-align: center;">{{nutri_hdd}}</td>
    </tr>
    <tr>
      <td>Sillón de Oncología</td>
      <td style="text-align: center;">{{sillon_hdd}}</td>
    </tr>
    <tr>
      <td>Colchón antiescaras</td>
      <td style="text-align: center;">{{colanti_hdd}}</td>
    </tr>
    <tr>
      <td>Bomba de infusión</td>
      <td style="text-align: center;">{{bominf_hdd}}</td>
    </tr>
    <tr>
      <td>Campana de flujo laminar</td>
      <td style="text-align: center;">{{caflula_hdd}}</td>
    </tr>
    <tr>
      <td>Balanza de uso clínico con cartabón</td>
      <td style="text-align: center;">{{bala_hdd}}</td>
    </tr>
    <tr>
      <td>Equipo de monitoreo presión arterial</td>
      <td style="text-align: center;">{{equimon_hdd}}</td>
    </tr>
    <tr>
      <td>Oxímetro de pulso</td>
      <td style="text-align: center;">{{oxipul_hdd}}</td>
    </tr>
  </table>
</div>