<div class="seccion">
  <h3>INTERNACIÓN - GENERAL</h3>
  <table>
    {{#if (hasValue int_habitaciones)}}
    <tr>
      <td style="width: 70%;">Habitaciones adecuadas</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass int_habitaciones}}">{{valorSiNo int_habitaciones}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue int_llamado)}}
    <tr>
      <td>Sistema de llamado enfermería</td>
      <td style="text-align: center;">
        <strong class="{{valorClass int_llamado}}">{{valorSiNo int_llamado}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue int_gases)}}
    <tr>
      <td>Gases medicinales</td>
      <td style="text-align: center;">
        <strong class="{{valorClass int_gases}}">{{valorSiNo int_gases}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue int_ropa)}}
    <tr>
      <td>Ropa de cama</td>
      <td style="text-align: center;">
        <strong class="{{valorClass int_ropa}}">{{valorSiNo int_ropa}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
