<div class="seccion">
  <h3>LA INSTITUCIÓN POSEÉ</h3>
  <table>
    <tr>
      <td style="width: 70%;">Vacunatorio habilitado</td>
      <td style="width: 30%; text-align: center;">{{vac_hab}}</td>
    </tr>
    <tr>
      <td>Botiquín con drogas para urgencias por área y piso</td>
      <td style="text-align: center;">{{bot_dro_urg}}</td>
    </tr>
    <tr>
      <td>Farmacia o provisión de medicamentos habilitados</td>
      <td style="text-align: center;">{{far_prov}}</td>
    </tr>
    <tr>
      <td>Banco de Sangre y/o Servicio de Med. Transfusional</td>
      <td style="text-align: center;">{{bco_san}}</td>
    </tr>
    <tr>
      <td>Con atención permanente (24 hs)</td>
      <td style="text-align: center;">{{ate_per}}</td>
    </tr>
    <tr>
      <td>Botiquín con drogas por área y piso (2)</td>
      <td style="text-align: center;">{{bot_are_pis}}</td>
    </tr>
  </table>
</div>
