{{#seccionWrapper}}
  <h3>LABORATORIO</h3>
  <table>
    {{#if (hasValue hab_cob)}}
    <tr>
      <td style="width: 70%;">Habilitación por COBICO</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass hab_cob}}">{{valorSiNo hab_cob}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue son)}}
    <tr>
      <td>Interno / Externo</td>
      <td style="text-align: center;">{{son}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue es)}}
    <tr>
      <td>Propio / Contratado</td>
      <td style="text-align: center;">{{es}}</td>
    </tr>
    {{/if}}
  </table>
{{/seccionWrapper}}
