<div class="seccion">
  <h3>OBSTETRICIA</h3>
  <table>
    <tr>
      <td style="width: 70%;">Posee sala de parto</td>
      <td style="width: 30%; text-align: center;">{{sal_par}}</td>
    </tr>
    <tr>
      <td>Posee sala de recuperación</td>
      <td style="text-align: center;">{{sal_rec}}</td>
    </tr>
    <tr>
      <td>Posee recepción de recién nacido</td>
      <td style="text-align: center;">{{rec_recnac}}</td>
    </tr>
    <tr>
      <td>Cantidad de salas de partos</td>
      <td style="text-align: center;">{{cant_sal_par}}</td>
    </tr>
    <tr>
      <td>Cumple normas paredes</td>
      <td style="text-align: center;">{{c_normas_par}}</td>
    </tr>
    <tr>
      <td>Cumple normas pisos</td>
      <td style="text-align: center;">{{c_normas_pis}}</td>
    </tr>
    <tr>
      <td>Cumple normas techos</td>
      <td style="text-align: center;">{{c_normas_tec}}</td>
    </tr>
    <tr>
      <td>Circulación exclusiva</td>
      <td style="text-align: center;">{{circ_excl}}</td>
    </tr>
    <tr>
      <td>Climatización frío-calor</td>
      <td style="text-align: center;">{{cl_frio_calor}}</td>
    </tr>
    <tr>
      <td>Sala de Recepción (1 caja de paro / 2 RN simultáneos)</td>
      <td style="text-align: center;">{{sal_recep}}</td>
    </tr>
    <tr>
      <td>Vestuario propio</td>
      <td style="text-align: center;">{{ve_pro}}</td>
    </tr>
    <tr>
      <td>Lavabos previo filtro de vestuarios</td>
      <td style="text-align: center;">{{lav_pre}}</td>
    </tr>
    <tr>
      <td>Sector Limpio</td>
      <td style="text-align: center;">{{s_limp}}</td>
    </tr>
    <tr>
      <td>Iluminación adecuada</td>
      <td style="text-align: center;">{{il_adequada}}</td>
    </tr>
    <tr>
      <td>1 panel c/2 oxígenos 1 aspiración 1 aire comprimido</td>
      <td style="text-align: center;">{{1p_c2ox}}</td>
    </tr>
  </table>
</div>