<div class="seccion">
  <h3>OBSTETRICIA</h3>
  <table>
    {{#if (hasValue sal_par)}}
    <tr>
      <td style="width: 70%;">Posee sala de parto</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass sal_par}}">{{valorSiNo sal_par}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue sal_rec)}}
    <tr>
      <td>Posee sala de recuperación</td>
      <td style="text-align: center;">
        <strong class="{{valorClass sal_rec}}">{{valorSiNo sal_rec}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue rec_recnac)}}
    <tr>
      <td>Posee recepción de recién nacido</td>
      <td style="text-align: center;">
        <strong class="{{valorClass rec_recnac}}">{{valorSiNo rec_recnac}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cant_sal_par)}}
    <tr>
      <td>Cantidad de salas de partos</td>
      <td style="text-align: center;">{{cant_sal_par}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue c_normas_par)}}
    <tr>
      <td>Cumple normas paredes</td>
      <td style="text-align: center;">
        <strong class="{{valorClass c_normas_par}}">{{valorSiNo c_normas_par}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue c_normas_pis)}}
    <tr>
      <td>Cumple normas pisos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass c_normas_pis}}">{{valorSiNo c_normas_pis}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue c_normas_tec)}}
    <tr>
      <td>Cumple normas techos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass c_normas_tec}}">{{valorSiNo c_normas_tec}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue circ_excl)}}
    <tr>
      <td>Circulación exclusiva</td>
      <td style="text-align: center;">
        <strong class="{{valorClass circ_excl}}">{{valorSiNo circ_excl}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ie_pac)}}
    <tr>
      <td>Ingreso y transferencia de pacientes</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ie_pac}}">{{valorSiNo ie_pac}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cl_frio_calor)}}
    <tr>
      <td>Climatización frío-calor</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cl_frio_calor}}">{{valorSiNo cl_frio_calor}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue sal_recep)}}
    <tr>
      <td>Sala de Recepción</td>
      <td style="text-align: center;">
        <strong class="{{valorClass sal_recep}}">{{valorSiNo sal_recep}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue 1c3_par)}}
    <tr>
      <td>1 c/3 sala de partos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass 1c3_par}}">{{valorSiNo 1c3_par}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue 6e)}}
    <tr>
      <td>6 enchufes</td>
      <td style="text-align: center;">
        <strong class="{{valorClass 6e}}">{{valorSiNo 6e}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ve_pro)}}
    <tr>
      <td>Vestuario propio</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ve_pro}}">{{valorSiNo ve_pro}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue lav_pre)}}
    <tr>
      <td>Lavabos previo filtro de vestuarios</td>
      <td style="text-align: center;">
        <strong class="{{valorClass lav_pre}}">{{valorSiNo lav_pre}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue s_sucio)}}
    <tr>
      <td>Sector sucio</td>
      <td style="text-align: center;">
        <strong class="{{valorClass s_sucio}}">{{valorSiNo s_sucio}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ccd_sp)}}
    <tr>
      <td>Comunicación directa a SP</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ccd_sp}}">{{valorSiNo ccd_sp}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue s_limp)}}
    <tr>
      <td>Sector Limpio</td>
      <td style="text-align: center;">
        <strong class="{{valorClass s_limp}}">{{valorSiNo s_limp}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cc_dir_sp)}}
    <tr>
      <td>Comunicación directa de SP</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cc_dir_sp}}">{{valorSiNo cc_dir_sp}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue hpre_are)}}
    <tr>
      <td>Habitación preparto en el área</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hpre_are}}">{{valorSiNo hpre_are}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue hpre_inte)}}
    <tr>
      <td>Habitación preparto en el internado</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hpre_inte}}">{{valorSiNo hpre_inte}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue il_adecuada)}}
    <tr>
      <td>Iluminación adecuada</td>
      <td style="text-align: center;">
        <strong class="{{valorClass il_adecuada}}">{{valorSiNo il_adecuada}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue pro_des_tie)}}
    <tr>
      <td>Protección con descarga a tierra</td>
      <td style="text-align: center;">
        <strong class="{{valorClass pro_des_tie}}">{{valorSiNo pro_des_tie}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue 1cp_2rn)}}
    <tr>
      <td>1 caja de paro c/equipamiento para 2 RN simultáneos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass 1cp_2rn}}">{{valorSiNo 1cp_2rn}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue 1p_c2ox)}}
    <tr>
      <td>1 panel c/2 oxígenos 1 aspiración 1 aire comprimido</td>
      <td style="text-align: center;">
        <strong class="{{valorClass 1p_c2ox}}">{{valorSiNo 1p_c2ox}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue m_rec_rn)}}
    <tr>
      <td>Mesa de recepción acolchada c/calorificación p/2 RN</td>
      <td style="text-align: center;">
        <strong class="{{valorClass m_rec_rn}}">{{valorSiNo m_rec_rn}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
