<div class="seccion">
  <h3>ODONTOLOGÍA - GENERAL</h3>
  <table>
    {{#if odo_unidades}}
    <tr>
      <td style="width: 70%;">Unidades odontológicas</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if odo_unidades}}valor-si{{else}}valor-no{{/if}}">{{#if odo_unidades}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if odo_rx}}
    <tr>
      <td>Rayos X odontológico</td>
      <td style="text-align: center;">
        <strong class="{{#if odo_rx}}valor-si{{else}}valor-no{{/if}}">{{#if odo_rx}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if odo_esterilizacion}}
    <tr>
      <td>Esterilización</td>
      <td style="text-align: center;">
        <strong class="{{#if odo_esterilizacion}}valor-si{{else}}valor-no{{/if}}">{{#if odo_esterilizacion}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if odo_desinfeccion}}
    <tr>
      <td>Desinfección correcta</td>
      <td style="text-align: center;">
        <strong class="{{#if odo_desinfeccion}}valor-si{{else}}valor-no{{/if}}">{{#if odo_desinfeccion}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
