<div class="seccion">
  <h3>ODONTOLOGÍA - GENERAL</h3>
  <table>
    {{#if (hasValue odo_unidades)}}
    <tr>
      <td style="width: 70%;">Unidades odontológicas</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass odo_unidades}}">{{valorSiNo odo_unidades}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue odo_rx)}}
    <tr>
      <td>Rayos X odontológico</td>
      <td style="text-align: center;">
        <strong class="{{valorClass odo_rx}}">{{valorSiNo odo_rx}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue odo_esterilizacion)}}
    <tr>
      <td>Esterilización</td>
      <td style="text-align: center;">
        <strong class="{{valorClass odo_esterilizacion}}">{{valorSiNo odo_esterilizacion}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue odo_desinfeccion)}}
    <tr>
      <td>Desinfección correcta</td>
      <td style="text-align: center;">
        <strong class="{{valorClass odo_desinfeccion}}">{{valorSiNo odo_desinfeccion}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
