{{#seccionWrapper}}
  <h3>LOCALS</h3>
  <table>
    {{#if (hasValue art11)}}
    <tr>
      <td style="width: 70%;">Óptico regente presente (Art. 11)</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass art11}}">{{valorSiNo art11}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue art7)}}
    <tr>
      <td>Presentó Planos Art. 7</td>
      <td style="text-align: center;">
        <strong class="{{valorClass art7}}">{{valorSiNo art7}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue librec)}}
    <tr>
      <td>Libro Recetario / Fichero / Respaldo informático</td>
      <td style="text-align: center;">
        <strong class="{{valorClass librec}}">{{valorSiNo librec}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ilad_loc)}}
    <tr>
      <td>Iluminación adecuada Art. 13 a)</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ilad_loc}}">{{valorSiNo ilad_loc}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue interpu)}}
    <tr>
      <td>Interpupilómetro Art. 13 a)</td>
      <td style="text-align: center;">
        <strong class="{{valorClass interpu}}">{{valorSiNo interpu}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue car_pru)}}
    <tr>
      <td>Cartilla de prueba para visión cercana</td>
      <td style="text-align: center;">
        <strong class="{{valorClass car_pru}}">{{valorSiNo car_pru}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue art12_anexo)}}
    <tr>
      <td>Anexo o dependientes de consultorios médicos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass art12_anexo}}">{{valorSiNo art12_anexo}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue diplo_exhi)}}
    <tr>
      <td>Diploma/s exhibido/s Art. 7</td>
      <td style="text-align: center;">
        <strong class="{{valorClass diplo_exhi}}">{{valorSiNo diplo_exhi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue mostr)}}
    <tr>
      <td>Mostrador Art. 13 a)</td>
      <td style="text-align: center;">
        <strong class="{{valorClass mostr}}">{{valorSiNo mostr}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue esp_mostr)}}
    <tr>
      <td>Espejo para mostrador</td>
      <td style="text-align: center;">
        <strong class="{{valorClass esp_mostr}}">{{valorSiNo esp_mostr}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue mue_col)}}
    <tr>
      <td>Muestrario de colores de cristales</td>
      <td style="text-align: center;">
        <strong class="{{valorClass mue_col}}">{{valorSiNo mue_col}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue car_opt)}}
    <tr>
      <td>Cartel de optotipo Art. 13 a)</td>
      <td style="text-align: center;">
        <strong class="{{valorClass car_opt}}">{{valorSiNo car_opt}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
{{/seccionWrapper}}
