<div class="seccion">
  <h3>ÓPTICA - GENERAL</h3>
  <table>
    {{#if opt_instrumentos}}
    <tr>
      <td style="width: 70%;">Instrumentos de medición</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if opt_instrumentos}}valor-si{{else}}valor-no{{/if}}">{{#if opt_instrumentos}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if opt_optometrista}}
    <tr>
      <td>Optometrista</td>
      <td style="text-align: center;">
        <strong class="{{#if opt_optometrista}}valor-si{{else}}valor-no{{/if}}">{{#if opt_optometrista}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if opt_lentes}}
    <tr>
      <td>Lentes de prueba</td>
      <td style="text-align: center;">
        <strong class="{{#if opt_lentes}}valor-si{{else}}valor-no{{/if}}">{{#if opt_lentes}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
