{{#seccionWrapper}}
  <h3>GABINETE DE CONTACTOLOGÍA</h3>
  <table>
    {{#if (hasValue sal_de_esp)}}
    <tr>
      <td style="width: 70%;">Sala de Espera</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass sal_de_esp}}">{{valorSiNo sal_de_esp}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue frontofo)}}
    <tr>
      <td>Frontofocómetro</td>
      <td style="text-align: center;">
        <strong class="{{valorClass frontofo}}">{{valorSiNo frontofo}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue la_luz_ne)}}
    <tr>
      <td>Lámpara de luz negra o de cobalto</td>
      <td style="text-align: center;">
        <strong class="{{valorClass la_luz_ne}}">{{valorSiNo la_luz_ne}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue lupa4)}}
    <tr>
      <td>Lupa de 4 o más aumentos con red milimetrada</td>
      <td style="text-align: center;">
        <strong class="{{valorClass lupa4}}">{{valorSiNo lupa4}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ta_conve)}}
    <tr>
      <td>Tabla de conversión de dioptrías a milímetros</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ta_conve}}">{{valorSiNo ta_conve}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue optoti)}}
    <tr>
      <td>Optotipo de refracción o proyección</td>
      <td style="text-align: center;">
        <strong class="{{valorClass optoti}}">{{valorSiNo optoti}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue len_cont)}}
    <tr>
      <td>Caja de pruebas de lentes de contacto</td>
      <td style="text-align: center;">
        <strong class="{{valorClass len_cont}}">{{valorSiNo len_cont}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue si_apo_cli)}}
    <tr>
      <td>Sillón c/apoya cabeza para pacientes</td>
      <td style="text-align: center;">
        <strong class="{{valorClass si_apo_cli}}">{{valorSiNo si_apo_cli}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue oftalmo)}}
    <tr>
      <td>Oftalmómetro / Queratómetro</td>
      <td style="text-align: center;">
        <strong class="{{valorClass oftalmo}}">{{valorSiNo oftalmo}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cri12)}}
    <tr>
      <td>Caja de pruebas de cristales 12+ dioptrías</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cri12}}">{{valorSiNo cri12}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue jue_tabl)}}
    <tr>
      <td>Juego de tablas de distancia de vértice</td>
      <td style="text-align: center;">
        <strong class="{{valorClass jue_tabl}}">{{valorSiNo jue_tabl}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue med_dia)}}
    <tr>
      <td>Medidor de diámetro</td>
      <td style="text-align: center;">
        <strong class="{{valorClass med_dia}}">{{valorSiNo med_dia}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue lavabo)}}
    <tr>
      <td>Lavabo</td>
      <td style="text-align: center;">
        <strong class="{{valorClass lavabo}}">{{valorSiNo lavabo}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue la_ilu_fro)}}
    <tr>
      <td>Lámpara para iluminación frontal</td>
      <td style="text-align: center;">
        <strong class="{{valorClass la_ilu_fro}}">{{valorSiNo la_ilu_fro}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
{{/seccionWrapper}}
