<div class="seccion">
  <h3>GABINETE DE CONTACTOLOGÍA - ÓPTICAS</h3>
  <table>
    <tr>
      <td style="width: 70%;">Sala de Espera</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if sal_de_esp}}valor-si{{else}}valor-no{{/if}}">{{#if sal_de_esp}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Frontofocómetro</td>
      <td style="text-align: center;">
        <strong class="{{#if frontfo}}valor-si{{else}}valor-no{{/if}}">{{#if frontfo}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Lámpara de luz negra o de cobalto</td>
      <td style="text-align: center;">
        <strong class="{{#if la_luz_ne}}valor-si{{else}}valor-no{{/if}}">{{#if la_luz_ne}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Lupa de 4 o más aumentos con red milimetrada</td>
      <td style="text-align: center;">
        <strong class="{{#if lupa4}}valor-si{{else}}valor-no{{/if}}">{{#if lupa4}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Optotipo de refracción o proyección</td>
      <td style="text-align: center;">
        <strong class="{{#if optoti}}valor-si{{else}}valor-no{{/if}}">{{#if optoti}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Caja de pruebas de lentes de contacto</td>
      <td style="text-align: center;">
        <strong class="{{#if len_cont}}valor-si{{else}}valor-no{{/if}}">{{#if len_cont}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Sillón c/apoya cabeza para pacientes</td>
      <td style="text-align: center;">
        <strong class="{{#if si_apo_cli}}valor-si{{else}}valor-no{{/if}}">{{#if si_apo_cli}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Oftalmómetro / Queratómetro</td>
      <td style="text-align: center;">
        <strong class="{{#if oftalmo}}valor-si{{else}}valor-no{{/if}}">{{#if oftalmo}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Lavabo</td>
      <td style="text-align: center;">
        <strong class="{{#if lavabo}}valor-si{{else}}valor-no{{/if}}">{{#if lavabo}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>