<div class="seccion">
  <h3>ÓPTICAS - TALLER</h3>
  <table>
    {{#if (hasValue fronto)}}
    <tr>
      <td style="width: 70%;">Frontofocómetro</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass fronto}}">{{valorSiNo fronto}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue esfero)}}
    <tr>
      <td>Esferómetro</td>
      <td style="text-align: center;">
        <strong class="{{valorClass esfero}}">{{valorSiNo esfero}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue pin_adap)}}
    <tr>
      <td>Pinzas de adaptación</td>
      <td style="text-align: center;">
        <strong class="{{valorClass pin_adap}}">{{valorSiNo pin_adap}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ban_opt)}}
    <tr>
      <td>Banco Óptico o Mesa de Trabajo</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ban_opt}}">{{valorSiNo ban_opt}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue des_var)}}
    <tr>
      <td>Destornilladores Varios</td>
      <td style="text-align: center;">
        <strong class="{{valorClass des_var}}">{{valorSiNo des_var}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue stock_cris)}}
    <tr>
      <td>Stock de Cristales</td>
      <td style="text-align: center;">
        <strong class="{{valorClass stock_cris}}">{{valorSiNo stock_cris}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue arm_metal)}}
    <tr>
      <td>Armazones metal (50)</td>
      <td style="text-align: center;">
        <strong class="{{valorClass arm_metal}}">{{valorSiNo arm_metal}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue calis)}}
    <tr>
      <td>Calisoires Varios</td>
      <td style="text-align: center;">
        <strong class="{{valorClass calis}}">{{valorSiNo calis}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue pu_vidia)}}
    <tr>
      <td>Punta de Vidia o Máquina Cortadora</td>
      <td style="text-align: center;">
        <strong class="{{valorClass pu_vidia}}">{{valorSiNo pu_vidia}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue especi)}}
    <tr>
      <td>Especímetro</td>
      <td style="text-align: center;">
        <strong class="{{valorClass especi}}">{{valorSiNo especi}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue calef)}}
    <tr>
      <td>Calefactor</td>
      <td style="text-align: center;">
        <strong class="{{valorClass calef}}">{{valorSiNo calef}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ma_bise)}}
    <tr>
      <td>Máquina Biseladora o Calibradora</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ma_bise}}">{{valorSiNo ma_bise}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue lim_var)}}
    <tr>
      <td>Limas Varias</td>
      <td style="text-align: center;">
        <strong class="{{valorClass lim_var}}">{{valorSiNo lim_var}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue mart)}}
    <tr>
      <td>Martillo</td>
      <td style="text-align: center;">
        <strong class="{{valorClass mart}}">{{valorSiNo mart}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue arm_iny)}}
    <tr>
      <td>Armazones inyectados (50)</td>
      <td style="text-align: center;">
        <strong class="{{valorClass arm_iny}}">{{valorSiNo arm_iny}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue tal_perf)}}
    <tr>
      <td>Taladro o Perforador de Mano</td>
      <td style="text-align: center;">
        <strong class="{{valorClass tal_perf}}">{{valorSiNo tal_perf}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue mach_var)}}
    <tr>
      <td>Machos Varios</td>
      <td style="text-align: center;">
        <strong class="{{valorClass mach_var}}">{{valorSiNo mach_var}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
