<div class="seccion">
  <h3>GABINETE DE CONTACTOLOGÍA</h3>
  <table>
    {{#if sal_de_esp}}
    <tr>
      <td style="width: 70%;">Sala de Espera</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if sal_de_esp}}valor-si{{else}}valor-no{{/if}}">{{#if sal_de_esp}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if frontofo}}
    <tr>
      <td>Frontofocómetro</td>
      <td style="text-align: center;">
        <strong class="{{#if frontofo}}valor-si{{else}}valor-no{{/if}}">{{#if frontofo}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if la_luz_ne}}
    <tr>
      <td>Lámpara de luz negra o de cobalto</td>
      <td style="text-align: center;">
        <strong class="{{#if la_luz_ne}}valor-si{{else}}valor-no{{/if}}">{{#if la_luz_ne}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if lupa4}}
    <tr>
      <td>Lupa de 4 o más aumentos con red milimetrada</td>
      <td style="text-align: center;">
        <strong class="{{#if lupa4}}valor-si{{else}}valor-no{{/if}}">{{#if lupa4}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if ta_conve}}
    <tr>
      <td>Tabla de conversión de dioptrías a milímetros</td>
      <td style="text-align: center;">
        <strong class="{{#if ta_conve}}valor-si{{else}}valor-no{{/if}}">{{#if ta_conve}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if optoti}}
    <tr>
      <td>Optotipo de refracción o proyección</td>
      <td style="text-align: center;">
        <strong class="{{#if optoti}}valor-si{{else}}valor-no{{/if}}">{{#if optoti}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if len_cont}}
    <tr>
      <td>Caja de pruebas de lentes de contacto</td>
      <td style="text-align: center;">
        <strong class="{{#if len_cont}}valor-si{{else}}valor-no{{/if}}">{{#if len_cont}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if si_apo_cli}}
    <tr>
      <td>Sillón c/apoya cabeza para pacientes</td>
      <td style="text-align: center;">
        <strong class="{{#if si_apo_cli}}valor-si{{else}}valor-no{{/if}}">{{#if si_apo_cli}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if oftalmo}}
    <tr>
      <td>Oftalmómetro / Queratómetro</td>
      <td style="text-align: center;">
        <strong class="{{#if oftalmo}}valor-si{{else}}valor-no{{/if}}">{{#if oftalmo}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if cri12}}
    <tr>
      <td>Caja de pruebas de cristales 12+ dioptrías</td>
      <td style="text-align: center;">
        <strong class="{{#if cri12}}valor-si{{else}}valor-no{{/if}}">{{#if cri12}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if jue_tabl}}
    <tr>
      <td>Juego de tablas de distancia de vértice</td>
      <td style="text-align: center;">
        <strong class="{{#if jue_tabl}}valor-si{{else}}valor-no{{/if}}">{{#if jue_tabl}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if med_dia}}
    <tr>
      <td>Medidor de diámetro</td>
      <td style="text-align: center;">
        <strong class="{{#if med_dia}}valor-si{{else}}valor-no{{/if}}">{{#if med_dia}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if lavabo}}
    <tr>
      <td>Lavabo</td>
      <td style="text-align: center;">
        <strong class="{{#if lavabo}}valor-si{{else}}valor-no{{/if}}">{{#if lavabo}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if la_ilu_fro}}
    <tr>
      <td>Lámpara para iluminación frontal</td>
      <td style="text-align: center;">
        <strong class="{{#if la_ilu_fro}}valor-si{{else}}valor-no{{/if}}">{{#if la_ilu_fro}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
