<div class="seccion">
  <h3>LOCAL - ÓPTICAS (Art. 7, 11, 12, 13)</h3>
  <table>
    <tr>
      <td style="width: 70%;">Óptico regente presente (Art. 11)</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if art11}}valor-si{{else}}valor-no{{/if}}">{{#if art11}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Presentó Planos Art. 7</td>
      <td style="text-align: center;">
        <strong class="{{#if art7}}valor-si{{else}}valor-no{{/if}}">{{#if art7}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Libro Recetario / Fichero / Respaldo informático</td>
      <td style="text-align: center;">
        <strong class="{{#if librec}}valor-si{{else}}valor-no{{/if}}">{{#if librec}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Iluminación adecuada Art. 13 a)</td>
      <td style="text-align: center;">
        <strong class="{{#if ilad_loc}}valor-si{{else}}valor-no{{/if}}">{{#if ilad_loc}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Interpupilómetro Art. 13 a)</td>
      <td style="text-align: center;">
        <strong class="{{#if interpup}}valor-si{{else}}valor-no{{/if}}">{{#if interpup}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Cartilla de prueba para visión cercana</td>
      <td style="text-align: center;">
        <strong class="{{#if car_pru}}valor-si{{else}}valor-no{{/if}}">{{#if car_pru}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Diploma/s exhibido/s Art. 7</td>
      <td style="text-align: center;">
        <strong class="{{#if dipl_exhi}}valor-si{{else}}valor-no{{/if}}">{{#if dipl_exhi}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Mostrador Art. 13 a)</td>
      <td style="text-align: center;">
        <strong class="{{#if mostr}}valor-si{{else}}valor-no{{/if}}">{{#if mostr}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Espejo para mostrador</td>
      <td style="text-align: center;">
        <strong class="{{#if esp_mostr}}valor-si{{else}}valor-no{{/if}}">{{#if esp_mostr}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Muestrario de colores de cristales</td>
      <td style="text-align: center;">
        <strong class="{{#if mue_col}}valor-si{{else}}valor-no{{/if}}">{{#if mue_col}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Cartel de optotipo Art. 13 a)</td>
      <td style="text-align: center;">
        <strong class="{{#if car_opt}}valor-si{{else}}valor-no{{/if}}">{{#if car_opt}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>