<div class="seccion">
  <h3>TALLER - ÓPTICAS (Art. 8)</h3>
  <table>
    <tr>
      <td style="width: 70%;">Frontofocómetro</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if front}}valor-si{{else}}valor-no{{/if}}">{{#if front}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Esferómetro</td>
      <td style="text-align: center;">
        <strong class="{{#if esfero}}valor-si{{else}}valor-no{{/if}}">{{#if esfero}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Pinzas de adaptación</td>
      <td style="text-align: center;">
        <strong class="{{#if pin_adap}}valor-si{{else}}valor-no{{/if}}">{{#if pin_adap}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Banco Óptico o Mesa de Trabajo</td>
      <td style="text-align: center;">
        <strong class="{{#if ban_opt}}valor-si{{else}}valor-no{{/if}}">{{#if ban_opt}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Destornilladores Varios</td>
      <td style="text-align: center;">
        <strong class="{{#if des_var}}valor-si{{else}}valor-no{{/if}}">{{#if des_var}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Stock de Cristales</td>
      <td style="text-align: center;">
        <strong class="{{#if stock_cris}}valor-si{{else}}valor-no{{/if}}">{{#if stock_cris}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Armazones metal (50)</td>
      <td style="text-align: center;">
        <strong class="{{#if arm_metal}}valor-si{{else}}valor-no{{/if}}">{{#if arm_metal}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Armazones inyectados (50)</td>
      <td style="text-align: center;">
        <strong class="{{#if arm_iny}}valor-si{{else}}valor-no{{/if}}">{{#if arm_iny}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Máquina Biseladora o Calibradora</td>
      <td style="text-align: center;">
        <strong class="{{#if ma_bise}}valor-si{{else}}valor-no{{/if}}">{{#if ma_bise}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Taladro o Perforador de Mano</td>
      <td style="text-align: center;">
        <strong class="{{#if tal_perf}}valor-si{{else}}valor-no{{/if}}">{{#if tal_perf}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>