<div class="seccion">
  <h3>ÓPTICA - GENERAL</h3>
  <table>
    {{#if (hasValue opt_instrumentos)}}
    <tr>
      <td style="width: 70%;">Instrumentos de medición</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass opt_instrumentos}}">{{valorSiNo opt_instrumentos}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue opt_optometrista)}}
    <tr>
      <td>Optometrista</td>
      <td style="text-align: center;">
        <strong class="{{valorClass opt_optometrista}}">{{valorSiNo opt_optometrista}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue opt_lentes)}}
    <tr>
      <td>Lentes de prueba</td>
      <td style="text-align: center;">
        <strong class="{{valorClass opt_lentes}}">{{valorSiNo opt_lentes}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
