<div class="seccion">
  <h3>ENFERMERÍA</h3>
  <table>
    <tr>
      <td style="width: 70%;">Local propio</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if locprop_quir}}valor-si{{else}}valor-no{{/if}}">{{#if locprop_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Tubo Oxígeno</td>
      <td style="text-align: center;">
        <strong class="{{#if tubox_quir}}valor-si{{else}}valor-no{{/if}}">{{#if tubox_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Botiquín Urgencia</td>
      <td style="text-align: center;">
        <strong class="{{#if boturg_quir}}valor-si{{else}}valor-no{{/if}}">{{#if boturg_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Mesada con Pileta</td>
      <td style="text-align: center;">
        <strong class="{{#if mepil_quir}}valor-si{{else}}valor-no{{/if}}">{{#if mepil_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Armario o Vitrinas</td>
      <td style="text-align: center;">
        <strong class="{{#if arm_quir}}valor-si{{else}}valor-no{{/if}}">{{#if arm_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Silla de Ruedas</td>
      <td style="text-align: center;">
        <strong class="{{#if sirue_quir}}valor-si{{else}}valor-no{{/if}}">{{#if sirue_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>