{{#seccion}}
  <h3>DE LA DIRECCIÓN Y FUNCIONAMIENTO</h3>
  <table>
    {{#if (hasValue regcnftra_quir)}}
    <tr>
      <td style="width: 70%;">Registro de Enfermedades Transmisibles</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass regcnftra_quir}}">{{valorSiNo regcnftra_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue regint_quir)}}
    <tr>
      <td>Reglamento Interno</td>
      <td style="text-align: center;">
        <strong class="{{valorClass regint_quir}}">{{valorSiNo regint_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue nropla_quir)}}
    <tr>
      <td>Número de Plantas</td>
      <td style="text-align: center;">{{nropla_quir}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue ascmon_quir)}}
    <tr>
      <td>Ascensor / Montacamillas</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ascmon_quir}}">{{valorSiNo ascmon_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue disdif_quir)}}
    <tr>
      <td>Disyuntor diferencial</td>
      <td style="text-align: center;">
        <strong class="{{valorClass disdif_quir}}">{{valorSiNo disdif_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue evainc_quir)}}
    <tr>
      <td>Plan de evacuación de Incendios</td>
      <td style="text-align: center;">
        <strong class="{{valorClass evainc_quir}}">{{valorSiNo evainc_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue reghisclin_quir)}}
    <tr>
      <td>Registro de Historias Clínicas Completo</td>
      <td style="text-align: center;">
        <strong class="{{valorClass reghisclin_quir}}">{{valorSiNo reghisclin_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ext_quir)}}
    <tr>
      <td>Extinguidores</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ext_quir}}">{{valorSiNo ext_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue habbomb_quir)}}
    <tr>
      <td>Habilitación de Bomberos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass habbomb_quir}}">{{valorSiNo habbomb_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue plincl_quir)}}
    <tr>
      <td>Plano inclinado</td>
      <td style="text-align: center;">
        <strong class="{{valorClass plincl_quir}}">{{valorSiNo plincl_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue saleme_quir)}}
    <tr>
      <td>Salida de Emergencia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass saleme_quir}}">{{valorSiNo saleme_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue arpatho_quir)}}
    <tr>
      <td>Área para residuos patógenos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass arpatho_quir}}">{{valorSiNo arpatho_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue nrocons_quir)}}
    <tr>
      <td>N° de Consultorios</td>
      <td style="text-align: center;">{{nrocons_quir}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue il_quir)}}
    <tr>
      <td>Iluminación</td>
      <td style="text-align: center;">
        <strong class="{{valorClass il_quir}}">{{valorSiNo il_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue vent_quir)}}
    <tr>
      <td>Ventilación</td>
      <td style="text-align: center;">
        <strong class="{{valorClass vent_quir}}">{{valorSiNo vent_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue pri_quir)}}
    <tr>
      <td>Privacidad</td>
      <td style="text-align: center;">
        <strong class="{{valorClass pri_quir}}">{{valorSiNo pri_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue lav_quir)}}
    <tr>
      <td>Lavabos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass lav_quir}}">{{valorSiNo lav_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue aresp_quir)}}
    <tr>
      <td>Área de Espera</td>
      <td style="text-align: center;">
        <strong class="{{valorClass aresp_quir}}">{{valorSiNo aresp_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue sup_quir)}}
    <tr>
      <td>Superficie</td>
      <td style="text-align: center;">{{sup_quir}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue nroasi_quir)}}
    <tr>
      <td>N° de asientos</td>
      <td style="text-align: center;">{{nroasi_quir}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue banpub_quir)}}
    <tr>
      <td>Baño para público / personal</td>
      <td style="text-align: center;">
        <strong class="{{valorClass banpub_quir}}">{{valorSiNo banpub_quir}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
{{/seccion}}
