<div class="seccion">
  <h3>DE LA DIRECCIÓN Y FUNCIONAMIENTO</h3>
  <table>
    <tr>
      <td style="width: 70%;">Registro de Enfermedades Transmisibles</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if regenftra_quir}}valor-si{{else}}valor-no{{/if}}">{{#if regenftra_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Reglamento Interno</td>
      <td style="text-align: center;">
        <strong class="{{#if regint_quir}}valor-si{{else}}valor-no{{/if}}">{{#if regint_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>N° de Plantas</td>
      <td style="text-align: center;">{{nropla_quir}}</td>
    </tr>
    <tr>
      <td>Ascensor / Montacamillas</td>
      <td style="text-align: center;">
        <strong class="{{#if ascmon_quir}}valor-si{{else}}valor-no{{/if}}">{{#if ascmon_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Plan de Evacuación de Incendios</td>
      <td style="text-align: center;">
        <strong class="{{#if evainc_quir}}valor-si{{else}}valor-no{{/if}}">{{#if evainc_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Registro de Historias Clínicas Completo</td>
      <td style="text-align: center;">
        <strong class="{{#if reghisclin_quir}}valor-si{{else}}valor-no{{/if}}">{{#if reghisclin_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Extinguidores</td>
      <td style="text-align: center;">
        <strong class="{{#if ext_quir}}valor-si{{else}}valor-no{{/if}}">{{#if ext_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Habilitación de Bomberos</td>
      <td style="text-align: center;">
        <strong class="{{#if habbom_quir}}valor-si{{else}}valor-no{{/if}}">{{#if habbom_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Plano Inclinado</td>
      <td style="text-align: center;">
        <strong class="{{#if plincl_quir}}valor-si{{else}}valor-no{{/if}}">{{#if plincl_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Salida de Emergencia</td>
      <td style="text-align: center;">
        <strong class="{{#if saleme_quir}}valor-si{{else}}valor-no{{/if}}">{{#if saleme_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Área para Residuos Patógenos</td>
      <td style="text-align: center;">
        <strong class="{{#if arpat_quir}}valor-si{{else}}valor-no{{/if}}">{{#if arpat_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>N° de Consultorios</td>
      <td style="text-align: center;">{{nrocons_quir}}</td>
    </tr>
    <tr>
      <td>Iluminación</td>
      <td style="text-align: center;">
        <strong class="{{#if il_quir}}valor-si{{else}}valor-no{{/if}}">{{#if il_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Ventilación</td>
      <td style="text-align: center;">
        <strong class="{{#if vent_quir}}valor-si{{else}}valor-no{{/if}}">{{#if vent_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Lavabos</td>
      <td style="text-align: center;">
        <strong class="{{#if lav_quir}}valor-si{{else}}valor-no{{/if}}">{{#if lav_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Baño para público/personal</td>
      <td style="text-align: center;">
        <strong class="{{#if banpub_quir}}valor-si{{else}}valor-no{{/if}}">{{#if banpub_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>