<div class="seccion">
  <h3>ESTERILIZACIÓN</h3>
  <table>
    {{#if est_quir}}
    <tr>
      <td style="width: 70%;">Estufa</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if est_quir}}valor-si{{else}}valor-no{{/if}}">{{#if est_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if conempauto_quir}}
    <tr>
      <td>Contrato con empresa autorizada</td>
      <td style="text-align: center;">
        <strong class="{{#if conempauto_quir}}valor-si{{else}}valor-no{{/if}}">{{#if conempauto_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if autocl_quir}}
    <tr>
      <td>Autoclave</td>
      <td style="text-align: center;">
        <strong class="{{#if autocl_quir}}valor-si{{else}}valor-no{{/if}}">{{#if autocl_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if matdes_quir}}
    <tr>
      <td>Material descartable</td>
      <td style="text-align: center;">
        <strong class="{{#if matdes_quir}}valor-si{{else}}valor-no{{/if}}">{{#if matdes_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
