<div class="seccion">
  <h3>DEL EQUIPAMIENTO</h3>
  <table>
    {{#if botbas_quir}}
    <tr>
      <td style="width: 70%;">Botiquín básico c/anestésicos y p/reanimación CV</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if botbas_quir}}valor-si{{else}}valor-no{{/if}}">{{#if botbas_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if laritub_quir}}
    <tr>
      <td>Laringoscopio y Tubos Endotraqueales</td>
      <td style="text-align: center;">
        <strong class="{{#if laritub_quir}}valor-si{{else}}valor-no{{/if}}">{{#if laritub_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if cajtraq_quir}}
    <tr>
      <td>Caja traqueostomía</td>
      <td style="text-align: center;">
        <strong class="{{#if cajtraq_quir}}valor-si{{else}}valor-no{{/if}}">{{#if cajtraq_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if mon_quir}}
    <tr>
      <td>Monitor</td>
      <td style="text-align: center;">
        <strong class="{{#if mon_quir}}valor-si{{else}}valor-no{{/if}}">{{#if mon_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if electro_quir}}
    <tr>
      <td>Electrobisturí</td>
      <td style="text-align: center;">
        <strong class="{{#if electro_quir}}valor-si{{else}}valor-no{{/if}}">{{#if electro_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if asauto_quir}}
    <tr>
      <td>Aspirador automático</td>
      <td style="text-align: center;">
        <strong class="{{#if asauto_quir}}valor-si{{else}}valor-no{{/if}}">{{#if asauto_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if oxipul_quir}}
    <tr>
      <td>Oxímetro de pulso</td>
      <td style="text-align: center;">
        <strong class="{{#if oxipul_quir}}valor-si{{else}}valor-no{{/if}}">{{#if oxipul_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if lamcial_quir}}
    <tr>
      <td>Lámpara cialítica</td>
      <td style="text-align: center;">
        <strong class="{{#if lamcial_quir}}valor-si{{else}}valor-no{{/if}}">{{#if lamcial_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if memasi_quir}}
    <tr>
      <td>Mesa cirugía Mayor o similar</td>
      <td style="text-align: center;">
        <strong class="{{#if memasi_quir}}valor-si{{else}}valor-no{{/if}}">{{#if memasi_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if instru_quir}}
    <tr>
      <td>Instrumental</td>
      <td style="text-align: center;">
        <strong class="{{#if instru_quir}}valor-si{{else}}valor-no{{/if}}">{{#if instru_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if fuenepro_quir}}
    <tr>
      <td>Fuente energía propia</td>
      <td style="text-align: center;">
        <strong class="{{#if fuenepro_quir}}valor-si{{else}}valor-no{{/if}}">{{#if fuenepro_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if gruele_quir}}
    <tr>
      <td>Grupo electrógeno</td>
      <td style="text-align: center;">
        <strong class="{{#if gruele_quir}}valor-si{{else}}valor-no{{/if}}">{{#if gruele_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if resauto_quir}}
    <tr>
      <td>Respirador automático</td>
      <td style="text-align: center;">
        <strong class="{{#if resauto_quir}}valor-si{{else}}valor-no{{/if}}">{{#if resauto_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if tuboxi_quir}}
    <tr>
      <td>Tubo de Oxígeno</td>
      <td style="text-align: center;">
        <strong class="{{#if tuboxi_quir}}valor-si{{else}}valor-no{{/if}}">{{#if tuboxi_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if cardi_quir}}
    <tr>
      <td>Cardiodesfibrilador</td>
      <td style="text-align: center;">
        <strong class="{{#if cardi_quir}}valor-si{{else}}valor-no{{/if}}">{{#if cardi_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
