<div class="seccion">
  <h3>QUIRÚRGICOS - GENERAL</h3>
  <table>
    <tr>
      <td style="width: 70%;">Quirófanos</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if quirurgicos_quirofanos}}valor-si{{else}}valor-no{{/if}}">{{#if quirurgicos_quirofanos}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Sala de recuperación</td>
      <td style="text-align: center;">
        <strong class="{{#if quirurgicos_sala_recuperacion}}valor-si{{else}}valor-no{{/if}}">{{#if quirurgicos_sala_recuperacion}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Sala de esterilización</td>
      <td style="text-align: center;">
        <strong class="{{#if quirurgicos_esterilizacion}}valor-si{{else}}valor-no{{/if}}">{{#if quirurgicos_esterilizacion}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Equipamiento completo</td>
      <td style="text-align: center;">
        <strong class="{{#if quirurgicos_equipamiento}}valor-si{{else}}valor-no{{/if}}">{{#if quirurgicos_equipamiento}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Personal anestésico</td>
      <td style="text-align: center;">
        <strong class="{{#if quirurgicos_anestesiologo}}valor-si{{else}}valor-no{{/if}}">{{#if quirurgicos_anestesiologo}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>