<div class="seccion">
  <h3>ENFERMERÍA</h3>
  <table>
    {{#if (hasValue locprop_quir)}}
    <tr>
      <td style="width: 70%;">Local propio</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass locprop_quir}}">{{valorSiNo locprop_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue tubox_quir)}}
    <tr>
      <td>Tubo oxígeno</td>
      <td style="text-align: center;">
        <strong class="{{valorClass tubox_quir}}">{{valorSiNo tubox_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue este_quir)}}
    <tr>
      <td>Estetoscopio</td>
      <td style="text-align: center;">
        <strong class="{{valorClass este_quir}}">{{valorSiNo este_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cacur_quir)}}
    <tr>
      <td>Caja de Curaciones</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cacur_quir}}">{{valorSiNo cacur_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue arproc_quir)}}
    <tr>
      <td>Área procesamiento Limpios y Usados</td>
      <td style="text-align: center;">
        <strong class="{{valorClass arproc_quir}}">{{valorSiNo arproc_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue arm_quir)}}
    <tr>
      <td>Armario o Vitrinas</td>
      <td style="text-align: center;">
        <strong class="{{valorClass arm_quir}}">{{valorSiNo arm_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue boturg_quir)}}
    <tr>
      <td>Botiquín urgencia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass boturg_quir}}">{{valorSiNo boturg_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue mepil_quir)}}
    <tr>
      <td>Mesada con pileta</td>
      <td style="text-align: center;">
        <strong class="{{valorClass mepil_quir}}">{{valorSiNo mepil_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue est_quir)}}
    <tr>
      <td>Estantes</td>
      <td style="text-align: center;">
        <strong class="{{valorClass est_quir}}">{{valorSiNo est_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue sirue_quir)}}
    <tr>
      <td>Silla de ruedas</td>
      <td style="text-align: center;">
        <strong class="{{valorClass sirue_quir}}">{{valorSiNo sirue_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue hel_quir)}}
    <tr>
      <td>Heladera</td>
      <td style="text-align: center;">
        <strong class="{{valorClass hel_quir}}">{{valorSiNo hel_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue tensi_quir)}}
    <tr>
      <td>Tensiómetro</td>
      <td style="text-align: center;">
        <strong class="{{valorClass tensi_quir}}">{{valorSiNo tensi_quir}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
