<div class="seccion">
  <h3>ÁREA INTERNACIÓN</h3>
  <table>
    <tr>
      <td style="width: 70%;">Habitación de recuperación/prácticas clínicas</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if habrec_quir}}valor-si{{else}}valor-no{{/if}}">{{#if habrec_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Boca de Oxígeno</td>
      <td style="text-align: center;">
        <strong class="{{#if boc_quir}}valor-si{{else}}valor-no{{/if}}">{{#if boc_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Posee baño privado o compartido</td>
      <td style="text-align: center;">
        <strong class="{{#if poban_quir}}valor-si{{else}}valor-no{{/if}}">{{#if poban_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Posee cama ortopédica</td>
      <td style="text-align: center;">
        <strong class="{{#if pocamort_quir}}valor-si{{else}}valor-no{{/if}}">{{#if pocamort_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Libre giro de camillas</td>
      <td style="text-align: center;">
        <strong class="{{#if libgir_quir}}valor-si{{else}}valor-no{{/if}}">{{#if libgir_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Cantidad</td>
      <td style="text-align: center;">{{can_quir}}</td>
    </tr>
    <tr>
      <td>Privacidad</td>
      <td style="text-align: center;">
        <strong class="{{#if priva_quir}}valor-si{{else}}valor-no{{/if}}">{{#if priva_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Llamador individual</td>
      <td style="text-align: center;">
        <strong class="{{#if llamind_quir}}valor-si{{else}}valor-no{{/if}}">{{#if llamind_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Climatización</td>
      <td style="text-align: center;">
        <strong class="{{#if climat_quir}}valor-si{{else}}valor-no{{/if}}">{{#if climat_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>

<div class="seccion">
  <h3>QUIRÓFANOS</h3>
  <table>
    <tr>
      <td style="width: 70%;">N° de Quirófanos</td>
      <td style="width: 30%; text-align: center;">{{nro_quirofnos_quir}}</td>
    </tr>
    <tr>
      <td>Cumple Normas Paredes</td>
      <td style="text-align: center;">
        <strong class="{{#if c_n_par}}valor-si{{else}}valor-no{{/if}}">{{#if c_n_par}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Cumple Normas Pisos</td>
      <td style="text-align: center;">
        <strong class="{{#if c_n_pis}}valor-si{{else}}valor-no{{/if}}">{{#if c_n_pis}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Cumple Normas Techos</td>
      <td style="text-align: center;">
        <strong class="{{#if c_n_tec}}valor-si{{else}}valor-no{{/if}}">{{#if c_n_tec}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Circulación exclusiva</td>
      <td style="text-align: center;">
        <strong class="{{#if cir_exc}}valor-si{{else}}valor-no{{/if}}">{{#if cir_exc}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Vestuarios</td>
      <td style="text-align: center;">
        <strong class="{{#if vest_quir}}valor-si{{else}}valor-no{{/if}}">{{#if vest_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Iluminación adecuada</td>
      <td style="text-align: center;">
        <strong class="{{#if il_adec}}valor-si{{else}}valor-no{{/if}}">{{#if il_adec}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Sala de Recuperación</td>
      <td style="text-align: center;">
        <strong class="{{#if salrecu_quir}}valor-si{{else}}valor-no{{/if}}">{{#if salrecu_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>