<div class="seccion">
  <h3>DE LA INSCRIPCIÓN Y HABILITACIÓN</h3>
  <table>
    {{#if (hasValue nro_camas_quir)}}
    <tr>
      <td style="width: 70%;">N° Total de Camas</td>
      <td style="width: 30%; text-align: center;">{{nro_camas_quir}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue plan_quir)}}
    <tr>
      <td>Planos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass plan_quir}}">{{valorSiNo plan_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue tisoc_quir)}}
    <tr>
      <td>Tipo de Sociedad</td>
      <td style="text-align: center;">{{tisoc_quir}}</td>
    </tr>
    {{/if}}
    {{#if (hasValue adpriv_quir)}}
    <tr>
      <td>Aditamiento Privado</td>
      <td style="text-align: center;">
        <strong class="{{valorClass adpriv_quir}}">{{valorSiNo adpriv_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue dirlis_quir)}}
    <tr>
      <td>Director y Listado de Profesionales</td>
      <td style="text-align: center;">
        <strong class="{{valorClass dirlis_quir}}">{{valorSiNo dirlis_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue noprac_quir)}}
    <tr>
      <td>Nómina de prácticas ambulatorias</td>
      <td style="text-align: center;">
        <strong class="{{valorClass noprac_quir}}">{{valorSiNo noprac_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue conest_quir)}}
    <tr>
      <td>Convenio con establecimientos polivalentes</td>
      <td style="text-align: center;">
        <strong class="{{valorClass conest_quir}}">{{valorSiNo conest_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue consereme_quir)}}
    <tr>
      <td>Convenio con Servicio de Emergencias</td>
      <td style="text-align: center;">
        <strong class="{{valorClass consereme_quir}}">{{valorSiNo consereme_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue consertras_quir)}}
    <tr>
      <td>Convenio con Traslado de Residuos Patógenos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass consertras_quir}}">{{valorSiNo consertras_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue orgfunc_quir)}}
    <tr>
      <td>Organigrama funcional</td>
      <td style="text-align: center;">
        <strong class="{{valorClass orgfunc_quir}}">{{valorSiNo orgfunc_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue apa_quir)}}
    <tr>
      <td>Aparatología</td>
      <td style="text-align: center;">
        <strong class="{{valorClass apa_quir}}">{{valorSiNo apa_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue coined_quir)}}
    <tr>
      <td>Coincide con edificación</td>
      <td style="text-align: center;">
        <strong class="{{valorClass coined_quir}}">{{valorSiNo coined_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue noproc_quir)}}
    <tr>
      <td>Nómina de procedimientos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass noproc_quir}}">{{valorSiNo noproc_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue conlab_quir)}}
    <tr>
      <td>Convenio con Laboratorio</td>
      <td style="text-align: center;">
        <strong class="{{valorClass conlab_quir}}">{{valorSiNo conlab_quir}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
