<div class="seccion">
  <h3>DEL EQUIPAMIENTO</h3>
  <table>
    <tr>
      <td style="width: 70%;">Botiquín básico c/anestésicos y p/reanimación CV</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{#if botbas_quir}}valor-si{{else}}valor-no{{/if}}">{{#if botbas_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Laringoscopio y Tubos Endotraqueales</td>
      <td style="text-align: center;">
        <strong class="{{#if laritub_quir}}valor-si{{else}}valor-no{{/if}}">{{#if laritub_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Caja traqueostomía</td>
      <td style="text-align: center;">
        <strong class="{{#if cajtraq_quir}}valor-si{{else}}valor-no{{/if}}">{{#if cajtraq_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Monitor</td>
      <td style="text-align: center;">
        <strong class="{{#if mon_quir}}valor-si{{else}}valor-no{{/if}}">{{#if mon_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Electrobisturí</td>
      <td style="text-align: center;">
        <strong class="{{#if electro_quir}}valor-si{{else}}valor-no{{/if}}">{{#if electro_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Aspirador automático</td>
      <td style="text-align: center;">
        <strong class="{{#if asauto_quir}}valor-si{{else}}valor-no{{/if}}">{{#if asauto_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Oxímetro de pulso</td>
      <td style="text-align: center;">
        <strong class="{{#if oxipul_quir}}valor-si{{else}}valor-no{{/if}}">{{#if oxipul_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Lámpara cialítica</td>
      <td style="text-align: center;">
        <strong class="{{#if lamcial_quir}}valor-si{{else}}valor-no{{/if}}">{{#if lamcial_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Mesa de cirugía Mayor o similar</td>
      <td style="text-align: center;">
        <strong class="{{#if memasi_quir}}valor-si{{else}}valor-no{{/if}}">{{#if memasi_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Cardiodesfibrilador</td>
      <td style="text-align: center;">
        <strong class="{{#if cardi_quir}}valor-si{{else}}valor-no{{/if}}">{{#if cardi_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Respirador automático</td>
      <td style="text-align: center;">
        <strong class="{{#if resauto_quir}}valor-si{{else}}valor-no{{/if}}">{{#if resauto_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    <tr>
      <td>Fuente energía propia / Grupo electrógeno</td>
      <td style="text-align: center;">
        <strong class="{{#if gruele_quir}}valor-si{{else}}valor-no{{/if}}">{{#if gruele_quir}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
  </table>
</div>