{{#seccion}}
  <h3>DEL EQUIPAMIENTO</h3>
  <table>
    {{#if (hasValue botbas_quir)}}
    <tr>
      <td style="width: 70%;">Botiquín básico c/anestésicos y p/reanimación CV</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass botbas_quir}}">{{valorSiNo botbas_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue laritub_quir)}}
    <tr>
      <td>Laringoscopio y Tubos Endotraqueales</td>
      <td style="text-align: center;">
        <strong class="{{valorClass laritub_quir}}">{{valorSiNo laritub_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cajtraq_quir)}}
    <tr>
      <td>Caja traqueostomía</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cajtraq_quir}}">{{valorSiNo cajtraq_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue mon_quir)}}
    <tr>
      <td>Monitor</td>
      <td style="text-align: center;">
        <strong class="{{valorClass mon_quir}}">{{valorSiNo mon_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue electro_quir)}}
    <tr>
      <td>Electrobisturí</td>
      <td style="text-align: center;">
        <strong class="{{valorClass electro_quir}}">{{valorSiNo electro_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue asauto_quir)}}
    <tr>
      <td>Aspirador automático</td>
      <td style="text-align: center;">
        <strong class="{{valorClass asauto_quir}}">{{valorSiNo asauto_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue oxipul_quir)}}
    <tr>
      <td>Oxímetro de pulso</td>
      <td style="text-align: center;">
        <strong class="{{valorClass oxipul_quir}}">{{valorSiNo oxipul_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue lamcial_quir)}}
    <tr>
      <td>Lámpara cialítica</td>
      <td style="text-align: center;">
        <strong class="{{valorClass lamcial_quir}}">{{valorSiNo lamcial_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue memasi_quir)}}
    <tr>
      <td>Mesa cirugía Mayor o similar</td>
      <td style="text-align: center;">
        <strong class="{{valorClass memasi_quir}}">{{valorSiNo memasi_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue instru_quir)}}
    <tr>
      <td>Instrumental</td>
      <td style="text-align: center;">
        <strong class="{{valorClass instru_quir}}">{{valorSiNo instru_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue fuenepro_quir)}}
    <tr>
      <td>Fuente energía propia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass fuenepro_quir}}">{{valorSiNo fuenepro_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue gruele_quir)}}
    <tr>
      <td>Grupo electrógeno</td>
      <td style="text-align: center;">
        <strong class="{{valorClass gruele_quir}}">{{valorSiNo gruele_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue resauto_quir)}}
    <tr>
      <td>Respirador automático</td>
      <td style="text-align: center;">
        <strong class="{{valorClass resauto_quir}}">{{valorSiNo resauto_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue tuboxi_quir)}}
    <tr>
      <td>Tubo de Oxígeno</td>
      <td style="text-align: center;">
        <strong class="{{valorClass tuboxi_quir}}">{{valorSiNo tuboxi_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cardi_quir)}}
    <tr>
      <td>Cardiodesfibrilador</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cardi_quir}}">{{valorSiNo cardi_quir}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
{{/seccion}}
