{{#seccion}}
  <h3>ESTERILIZACIÓN</h3>
  <table>
    {{#if (hasValue est_quir)}}
    <tr>
      <td style="width: 70%;">Estufa</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass est_quir}}">{{valorSiNo est_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue conempauto_quir)}}
    <tr>
      <td>Contrato con empresa autorizada</td>
      <td style="text-align: center;">
        <strong class="{{valorClass conempauto_quir}}">{{valorSiNo conempauto_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue autocl_quir)}}
    <tr>
      <td>Autoclave</td>
      <td style="text-align: center;">
        <strong class="{{valorClass autocl_quir}}">{{valorSiNo autocl_quir}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue matdes_quir)}}
    <tr>
      <td>Material descartable</td>
      <td style="text-align: center;">
        <strong class="{{valorClass matdes_quir}}">{{valorSiNo matdes_quir}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
{{/seccion}}
