<div class="seccion">
  <h3>QUIRÚRGICOS - GENERAL</h3>
  <table>
    <tr>
      <td style="width: 70%;">Quirófanos</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass quirurgicos_quirofanos}}">{{valorSiNo quirurgicos_quirofanos}}</strong>
      </td>
    </tr>
    <tr>
      <td>Sala de recuperación</td>
      <td style="text-align: center;">
        <strong class="{{valorClass quirurgicos_sala_recuperacion}}">{{valorSiNo quirurgicos_sala_recuperacion}}</strong>
      </td>
    </tr>
    <tr>
      <td>Sala de esterilización</td>
      <td style="text-align: center;">
        <strong class="{{valorClass quirurgicos_esterilizacion}}">{{valorSiNo quirurgicos_esterilizacion}}</strong>
      </td>
    </tr>
    <tr>
      <td>Equipamiento completo</td>
      <td style="text-align: center;">
        <strong class="{{valorClass quirurgicos_equipamiento}}">{{valorSiNo quirurgicos_equipamiento}}</strong>
      </td>
    </tr>
    <tr>
      <td>Personal anestésico</td>
      <td style="text-align: center;">
        <strong class="{{valorClass quirurgicos_anestesiologo}}">{{valorSiNo quirurgicos_anestesiologo}}</strong>
      </td>
    </tr>
  </table>
</div>