<div class="seccion">
  <h3>RADIOFÍSICA</h3>
  <table>
    <tr>
      <td style="width: 70%;">Diagnóstico por imagen habilitados</td>
      <td style="width: 30%; text-align: center;">{{dia_ima_hab}}</td>
    </tr>
    <tr>
      <td>Densitometría ósea habilitados</td>
      <td style="text-align: center;">{{den_os}}</td>
    </tr>
    <tr>
      <td>TAC habilitados</td>
      <td style="text-align: center;">{{tac}}</td>
    </tr>
    <tr>
      <td>Radiología simple habilitados</td>
      <td style="text-align: center;">{{rad_sim_hab}}</td>
    </tr>
    <tr>
      <td>Ecografía habilitados</td>
      <td style="text-align: center;">{{eco_hab}}</td>
    </tr>
    <tr>
      <td>Mamografía habilitados</td>
      <td style="text-align: center;">{{mam_hab}}</td>
    </tr>
    <tr>
      <td>PET habilitados</td>
      <td style="text-align: center;">{{pet}}</td>
    </tr>
    <tr>
      <td>RMN habilitados</td>
      <td style="text-align: center;">{{rmn}}</td>
    </tr>
    <tr>
      <td>Radiología contrastada habilitados</td>
      <td style="text-align: center;">{{rad_con_hab}}</td>
    </tr>
  </table>
</div>