{{#seccion}}
  <h3>RADIOFÍSICA</h3>
  <table>
    {{#if (hasValue dia_ima_hab)}}
    <tr>
      <td style="width: 70%;">Diagnóstico por imagen habilitados</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass dia_ima_hab}}">{{valorSiNo dia_ima_hab}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue den_os)}}
    <tr>
      <td>Densitometría ósea habilitados</td>
      <td style="text-align: center;">
        <strong class="{{valorClass den_os}}">{{valorSiNo den_os}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue tac)}}
    <tr>
      <td>TAC habilitados</td>
      <td style="text-align: center;">
        <strong class="{{valorClass tac}}">{{valorSiNo tac}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue rad_sim_hab)}}
    <tr>
      <td>Radiología simple habilitados</td>
      <td style="text-align: center;">
        <strong class="{{valorClass rad_sim_hab}}">{{valorSiNo rad_sim_hab}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue eco_hab)}}
    <tr>
      <td>Ecografía habilitados</td>
      <td style="text-align: center;">
        <strong class="{{valorClass eco_hab}}">{{valorSiNo eco_hab}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue mam_hab)}}
    <tr>
      <td>Mamografía habilitados</td>
      <td style="text-align: center;">
        <strong class="{{valorClass mam_hab}}">{{valorSiNo mam_hab}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue pet)}}
    <tr>
      <td>PET habilitados</td>
      <td style="text-align: center;">
        <strong class="{{valorClass pet}}">{{valorSiNo pet}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue rmn)}}
    <tr>
      <td>RMN habilitados</td>
      <td style="text-align: center;">
        <strong class="{{valorClass rmn}}">{{valorSiNo rmn}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue rad_con_hab)}}
    <tr>
      <td>Radiología contrastada habilitados</td>
      <td style="text-align: center;">
        <strong class="{{valorClass rad_con_hab}}">{{valorSiNo rad_con_hab}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
{{/seccion}}
