<div class="seccion">
  <h3>RADIODIAGNÓSTICO - GENERAL</h3>
  <table>
    {{#if (hasValue radio_equipos)}}
    <tr>
      <td style="width: 70%;">Equipos de Rayos X</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass radio_equipos}}">{{valorSiNo radio_equipos}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue radio_proteccion)}}
    <tr>
      <td>Protección radiológica</td>
      <td style="text-align: center;">
        <strong class="{{valorClass radio_proteccion}}">{{valorSiNo radio_proteccion}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue radio_dosimetro)}}
    <tr>
      <td>Dosímetro personal</td>
      <td style="text-align: center;">
        <strong class="{{valorClass radio_dosimetro}}">{{valorSiNo radio_dosimetro}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue radio_licencia)}}
    <tr>
      <td>Licencia de Radiofísica</td>
      <td style="text-align: center;">
        <strong class="{{valorClass radio_licencia}}">{{valorSiNo radio_licencia}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
