<div class="seccion">
  <h3>SALUD MENTAL - GENERAL</h3>
  <table>
    {{#if (hasValue sm_habitaciones)}}
    <tr>
      <td style="width: 70%;">Habitaciones seguras</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass sm_habitaciones}}">{{valorSiNo sm_habitaciones}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue sm_terapia)}}
    <tr>
      <td>Sala de terapia grupal</td>
      <td style="text-align: center;">
        <strong class="{{valorClass sm_terapia}}">{{valorSiNo sm_terapia}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue sm_psiquiatra)}}
    <tr>
      <td>Psiquiatra de guardia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass sm_psiquiatra}}">{{valorSiNo sm_psiquiatra}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue sm_contencion)}}
    <tr>
      <td>Registro de contención</td>
      <td style="text-align: center;">
        <strong class="{{valorClass sm_contencion}}">{{valorSiNo sm_contencion}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
