<div class="seccion">
  <h3>UNIDAD CORONARIA DE CUIDADOS INTENSIVOS (UCO)</h3>
  <table>
    <tr>
      <td style="width: 70%;">N° de Camas</td>
      <td style="width: 30%; text-align: center;">{{nro_camas_uco}}</td>
    </tr>
    <tr>
      <td>Planos</td>
      <td style="text-align: center;">{{planos_uco}}</td>
    </tr>
    <tr>
      <td>Cumple con edificación</td>
      <td style="text-align: center;">{{c_c_e_uco}}</td>
    </tr>
    <tr>
      <td>Signos vitales</td>
      <td style="text-align: center;">{{s_v_uco}}</td>
    </tr>
    <tr>
      <td>Balance diario</td>
      <td style="text-align: center;">{{b_d}}</td>
    </tr>
    <tr>
      <td>Monitores</td>
      <td style="text-align: center;">{{mon_uco}}</td>
    </tr>
    <tr>
      <td>Sala de médicos</td>
      <td style="text-align: center;">{{s_m_uco}}</td>
    </tr>
    <tr>
      <td>Grupo electrógeno</td>
      <td style="text-align: center;">{{g_e_uco}}</td>
    </tr>
    <tr>
      <td>Privacidad</td>
      <td style="text-align: center;">{{pr_uco}}</td>
    </tr>
    <tr>
      <td>Camas ortopédicas o articuladas</td>
      <td style="text-align: center;">{{c_o_a_uco}}</td>
    </tr>
    <tr>
      <td>Iluminación natural</td>
      <td style="text-align: center;">{{i_n_uco}}</td>
    </tr>
    <tr>
      <td>Iluminación artificial central</td>
      <td style="text-align: center;">{{i_a_uco}}</td>
    </tr>
    <tr>
      <td>Respirador mecánico volumétrico</td>
      <td style="text-align: center;">{{res_mec_vol_uco}}</td>
    </tr>
    <tr>
      <td>Equipo de desfibrilación y sincronizador</td>
      <td style="text-align: center;">{{e_des_sin_uco}}</td>
    </tr>
    <tr>
      <td>Bomba de infusión</td>
      <td style="text-align: center;">{{bo_inf_uco}}</td>
    </tr>
    <tr>
      <td>Carro de urgencias</td>
      <td style="text-align: center;">{{car1_uco}}</td>
    </tr>
    <tr>
      <td>Laringoscopios</td>
      <td style="text-align: center;">{{lari_uco}}</td>
    </tr>
    <tr>
      <td>Electrocardiógrafo</td>
      <td style="text-align: center;">{{elec_uco}}</td>
    </tr>
    <tr>
      <td>Oxímetro de pulso portátil</td>
      <td style="text-align: center;">{{ox_pul_por_uco}}</td>
    </tr>
  </table>
</div>