<div class="seccion">
  <h3>UNIDAD DE TERAPIA INTENSIVA (UTI)</h3>
  <table>
    {{#if nro_camas_uti}}
    <tr>
      <td style="width: 70%;">N° de Camas</td>
      <td style="width: 30%; text-align: center;">{{nro_camas_uti}}</td>
    </tr>
    {{/if}}
    {{#if planos_uti}}
    <tr>
      <td>Planos</td>
      <td style="text-align: center;">
        <strong class="{{#if planos_uti}}valor-si{{else}}valor-no{{/if}}">{{#if planos_uti}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if c_c_e_uti}}
    <tr>
      <td>Coincide con edificación</td>
      <td style="text-align: center;">
        <strong class="{{#if c_c_e_uti}}valor-si{{else}}valor-no{{/if}}">{{#if c_c_e_uti}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if martrans_nouco_uti}}
    <tr>
      <td>Marcapaso transitorio (si no tiene UCO)</td>
      <td style="text-align: center;">
        <strong class="{{#if martrans_nouco_uti}}valor-si{{else}}valor-no{{/if}}">{{#if martrans_nouco_uti}}SI{{else}}NO{{/if}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if suptot_uti}}
    <tr>
      <td>Superficie total sala internación</td>
      <td style="text-align: center;">{{suptot_uti}}</td>
    </tr>
    {{/if}}
  </table>
</div>
