<div class="seccion">
  <h3>UNIDAD DE TERAPIA INTENSIVA (UTI)</h3>
  <table>
    <tr>
      <td style="width: 70%;">N° de Camas</td>
      <td style="width: 30%; text-align: center;">{{nro_camas_uti}}</td>
    </tr>
    <tr>
      <td>Planos</td>
      <td style="text-align: center;">{{planos_uti}}</td>
    </tr>
    <tr>
      <td>Cumple con edificación</td>
      <td style="text-align: center;">{{c_c_e_uti}}</td>
    </tr>
    <tr>
      <td>Signos vitales</td>
      <td style="text-align: center;">{{s_v_uti}}</td>
    </tr>
    <tr>
      <td>Balance diario</td>
      <td style="text-align: center;">{{b_d_uti}}</td>
    </tr>
    <tr>
      <td>Volúmenes de ingresos y egresos</td>
      <td style="text-align: center;">{{v_i_e_uti}}</td>
    </tr>
    <tr>
      <td>Monitores</td>
      <td style="text-align: center;">{{mon_uti}}</td>
    </tr>
    <tr>
      <td>Sala de médicos</td>
      <td style="text-align: center;">{{s_m_uti}}</td>
    </tr>
    <tr>
      <td>Grupo electrógeno</td>
      <td style="text-align: center;">{{g_e_uti}}</td>
    </tr>
    <tr>
      <td>Privacidad</td>
      <td style="text-align: center;">{{pr_uti}}</td>
    </tr>
    <tr>
      <td>Iluminación natural</td>
      <td style="text-align: center;">{{i_n_uti}}</td>
    </tr>
    <tr>
      <td>Iluminación artificial central</td>
      <td style="text-align: center;">{{i_a_uti}}</td>
    </tr>
    <tr>
      <td>Marcapasos transitorio con 2 catéteres</td>
      <td style="text-align: center;">{{mar2cat_uti}}</td>
    </tr>
    <tr>
      <td>Superficie total sala internación</td>
      <td style="text-align: center;">{{suptot_uti}}</td>
    </tr>
  </table>
</div>