<div class="seccion">
  <h3>UNIDAD DE TERAPIA INTENSIVA NEONATAL (UTIN)</h3>
  <table>
    {{#if (hasValue of_enf_m_utin)}}
    <tr>
      <td style="width: 70%;">Office de enfermería con monitores</td>
      <td style="width: 30%; text-align: center;">
        <strong class="{{valorClass of_enf_m_utin}}">{{valorSiNo of_enf_m_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ar_de_rl_utin)}}
    <tr>
      <td>Área de depósito ropa limpia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ar_de_rl_utin}}">{{valorSiNo ar_de_rl_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue pil_mat)}}
    <tr>
      <td>Pileta para material</td>
      <td style="text-align: center;">
        <strong class="{{valorClass pil_mat}}">{{valorSiNo pil_mat}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue dep_utin)}}
    <tr>
      <td>Depósito para incubadora/cuna/aparatos</td>
      <td style="text-align: center;">
        <strong class="{{valorClass dep_utin}}">{{valorSiNo dep_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cam_a_codo_utin)}}
    <tr>
      <td>Camillas accionadas a codo</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cam_a_codo_utin}}">{{valorSiNo cam_a_codo_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue loc_for_lac_utin)}}
    <tr>
      <td>Local de fórmulas lácteas</td>
      <td style="text-align: center;">
        <strong class="{{valorClass loc_for_lac_utin}}">{{valorSiNo loc_for_lac_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue ex_air_fil_utin)}}
    <tr>
      <td>Extractor de aire con filtro</td>
      <td style="text-align: center;">
        <strong class="{{valorClass ex_air_fil_utin}}">{{valorSiNo ex_air_fil_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue sis_cal_ref_utin)}}
    <tr>
      <td>Sistema calefacción refrigeración</td>
      <td style="text-align: center;">
        <strong class="{{valorClass sis_cal_ref_utin}}">{{valorSiNo sis_cal_ref_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue tom_ele_cam_utin)}}
    <tr>
      <td>Ocho tomas de electricidad por cama</td>
      <td style="text-align: center;">
        <strong class="{{valorClass tom_ele_cam_utin}}">{{valorSiNo tom_ele_cam_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue in_cu_utin)}}
    <tr>
      <td>Incubadoras</td>
      <td style="text-align: center;">
        <strong class="{{valorClass in_cu_utin}}">{{valorSiNo in_cu_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue air_com_utin)}}
    <tr>
      <td>Aire comprimido</td>
      <td style="text-align: center;">
        <strong class="{{valorClass air_com_utin}}">{{valorSiNo air_com_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue aspi_utin)}}
    <tr>
      <td>Aspiración</td>
      <td style="text-align: center;">
        <strong class="{{valorClass aspi_utin}}">{{valorSiNo aspi_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue uni_ais_utin)}}
    <tr>
      <td>Unidades de aislamiento</td>
      <td style="text-align: center;">
        <strong class="{{valorClass uni_ais_utin}}">{{valorSiNo uni_ais_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue con_mon_utin)}}
    <tr>
      <td>Consola de monitoreo</td>
      <td style="text-align: center;">
        <strong class="{{valorClass con_mon_utin}}">{{valorSiNo con_mon_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue cunas_utin)}}
    <tr>
      <td>Cunas</td>
      <td style="text-align: center;">
        <strong class="{{valorClass cunas_utin}}">{{valorSiNo cunas_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue mon_card_utin)}}
    <tr>
      <td>Monitores cardiorrespiratorios</td>
      <td style="text-align: center;">
        <strong class="{{valorClass mon_card_utin}}">{{valorSiNo mon_card_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue bom_per_jer_utin)}}
    <tr>
      <td>Bomba de perfusión de jeringa</td>
      <td style="text-align: center;">
        <strong class="{{valorClass bom_per_jer_utin}}">{{valorSiNo bom_per_jer_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue bom_per_con_utin)}}
    <tr>
      <td>Bomba de perfusión continua</td>
      <td style="text-align: center;">
        <strong class="{{valorClass bom_per_con_utin}}">{{valorSiNo bom_per_con_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue spo_lumi_utin)}}
    <tr>
      <td>Spot de luminoterapia</td>
      <td style="text-align: center;">
        <strong class="{{valorClass spo_lumi_utin}}">{{valorSiNo spo_lumi_utin}}</strong>
      </td>
    </tr>
    {{/if}}
    {{#if (hasValue oxi_pul_utin)}}
    <tr>
      <td>Oxímetro de pulso</td>
      <td style="text-align: center;">
        <strong class="{{valorClass oxi_pul_utin}}">{{valorSiNo oxi_pul_utin}}</strong>
      </td>
    </tr>
    {{/if}}
  </table>
</div>
