<div class="seccion">
  <h3>UNIDAD DE TERAPIA INTENSIVA NEONATAL (UTIN)</h3>
  <table>
    <tr>
      <td style="width: 70%;">Office de enfermería con monitores</td>
      <td style="width: 30%; text-align: center;">{{of_enf_m_utin}}</td>
    </tr>
    <tr>
      <td>Área de depósito ropa limpia</td>
      <td style="text-align: center;">{{ar_de_rl_utin}}</td>
    </tr>
    <tr>
      <td>Pileta para material</td>
      <td style="text-align: center;">{{pil_mat}}</td>
    </tr>
    <tr>
      <td>Depósito para incubadora/cuna/aparatos</td>
      <td style="text-align: center;">{{dep_utin}}</td>
    </tr>
    <tr>
      <td>Camillas accionadas a codo</td>
      <td style="text-align: center;">{{cam_a_codo_utin}}</td>
    </tr>
    <tr>
      <td>Local de fórmulas lácteas</td>
      <td style="text-align: center;">{{loc_for_lac_utin}}</td>
    </tr>
    <tr>
      <td>Extractor de aire con filtro</td>
      <td style="text-align: center;">{{ex_air_fil_utin}}</td>
    </tr>
    <tr>
      <td>Sistema calefacción refrigeración</td>
      <td style="text-align: center;">{{sis_cal_ref_utin}}</td>
    </tr>
    <tr>
      <td>Ocho tomas de electricidad por cama</td>
      <td style="text-align: center;">{{tom_ele_cam_utin}}</td>
    </tr>
    <tr>
      <td>Incubadoras</td>
      <td style="text-align: center;">{{in_cu_utin}}</td>
    </tr>
    <tr>
      <td>Aire comprimido</td>
      <td style="text-align: center;">{{air_com_utin}}</td>
    </tr>
    <tr>
      <td>Aspiración</td>
      <td style="text-align: center;">{{aspi_utin}}</td>
    </tr>
    <tr>
      <td>Unidades de aislamiento</td>
      <td style="text-align: center;">{{uni_ais_utin}}</td>
    </tr>
    <tr>
      <td>Consola de monitoreo</td>
      <td style="text-align: center;">{{con_mon_utin}}</td>
    </tr>
    <tr>
      <td>Cunas</td>
      <td style="text-align: center;">{{cunas_utin}}</td>
    </tr>
    <tr>
      <td>Monitores cardiorrespiratorios</td>
      <td style="text-align: center;">{{mon_card_utin}}</td>
    </tr>
    <tr>
      <td>Bomba de perfusión de jeringa</td>
      <td style="text-align: center;">{{bom_per_jer_utin}}</td>
    </tr>
    <tr>
      <td>Bomba de perfusión continua</td>
      <td style="text-align: center;">{{bom_per_con_utin}}</td>
    </tr>
    <tr>
      <td>Spot de luminoterapia</td>
      <td style="text-align: center;">{{spo_lumi_utin}}</td>
    </tr>
    <tr>
      <td>Oxímetro de pulso</td>
      <td style="text-align: center;">{{oxi_pul_utin}}</td>
    </tr>
  </table>
</div>